<div class="container">
    <!-- ventana nro 3 - salida -->
    <div class="grid-container">

        <div class="title">Detalle Jabas Packing</div>
        <div class="title">Código de Paking: {{codigoPaking}}</div>



        <div class="container-cuerpo-fila7" *ngIf="dataJaba.length > 0">
            <table mat-table class="mat-elevation-z8" #table [dataSource]="dataSource">
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="mat-header-cell"> Acciones </th>
                    <td mat-cell *matCellDef="let data_det">
                        <input type="file" accept="image/*" style="display:none;" #inputFile
                            (change)="guardarImagen($event, 'guardar', data_det)">
                        <button (click)="inputFile.click()" mat-button
                            color="primary"><mat-icon>add_photo_alternate</mat-icon></button>

                        <button [disabled]="data_det.Img == ''" mat-button matTooltip="Mostrar imagen" color="primary"
                            (click)="mostrarImagen(data_det)"><mat-icon>image_search</mat-icon></button>
                    </td>
                </ng-container>         
                <ng-container matColumnDef="Ubicacion">
                    <th mat-header-cell *matHeaderCellDef> Ubicacion Actual </th>
                    <td mat-cell *matCellDef="let data_det"> {{data_det.Ubicacion}} </td>
                </ng-container>
                
                <ng-container matColumnDef="Codigo_Barra">
                    <th mat-header-cell *matHeaderCellDef> Cod. Barra </th>
                    <td mat-cell *matCellDef="let data_det"> {{data_det.Codigo_Barra}} </td>
                </ng-container>

                <ng-container matColumnDef="OK">
                    <th mat-header-cell *matHeaderCellDef> Estado OK </th>
                    <td mat-cell *matCellDef="let data_det"> {{ data_det.OK }}</td>
                </ng-container>

                <ng-container matColumnDef="RL">
                    <th mat-header-cell *matHeaderCellDef> Estado RL </th>
                    <td mat-cell *matCellDef="let data_det"> {{ data_det.RL }}</td>
                </ng-container>
                <ng-container matColumnDef="2RL">
                    <th mat-header-cell *matHeaderCellDef> Estado 2RL </th>
                    <td mat-cell *matCellDef="let data_det"> {{ data_det['2RL'] }}</td>
                </ng-container>
                <ng-container matColumnDef="RT">
                    <th mat-header-cell *matHeaderCellDef> Estado RT </th>
                    <td mat-cell *matCellDef="let data_det"> {{ data_det.RT }}</td>
                </ng-container>
                <ng-container matColumnDef="2RT">
                    <th mat-header-cell *matHeaderCellDef> Estado 2RT </th>
                    <td mat-cell *matCellDef="let data_det"> {{ data_det['2RT'] }}</td>
                </ng-container>
                <ng-container matColumnDef="G">
                    <th mat-header-cell *matHeaderCellDef> Estado G </th>
                    <td mat-cell *matCellDef="let data_det"> {{ data_det.G }}</td>
                </ng-container>
                <ng-container matColumnDef="OUT">
                    <th mat-header-cell *matHeaderCellDef> Estado OUT </th>
                    <td mat-cell *matCellDef="let data_det"> {{ data_det.OUT }}</td>
                </ng-container>
                <ng-container matColumnDef="RO">
                    <th mat-header-cell *matHeaderCellDef> Estado RO </th>
                    <td mat-cell *matCellDef="let data_det"> {{ data_det.RO }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            </table>

        </div>
        <br>
        <h4><b>Leyenda: </b></h4>
        <table class="tables">
            <thead>
                <th>OK</th>
                <th>RL</th>
                <th>2RL</th>
                <th>RT</th>
                <th>2RT</th>
                <th>G</th>
                <th>OUT</th>
                <th>RO</th>
            </thead>
            <tbody>
                <tr>
                    <td>JABA BUEN ESTADO</td>
                    <td>JABA RAJADA LATERAL</td>
                    <td>JABA DOBLE RAJADA LATERAL</td>
                    <td>JABA RAJADA TAPA</td>
                    <td>JABA DOBLE RAJADA</td>
                    <td>JABA GOLPEADA</td>
                    <td>JABA INSERVIBLE</td>
                    <td>JABA ROTA</td>
                </tr>
            </tbody>
        </table>

    </div>


    <div class="container-cuerpo-foot">

        <button type="button" class="button-cancelar" mat-button mat-dialog-close="false"   mat-flat-button>
            <mat-icon aria-label="person">highlight_off
            </mat-icon>  Cancelar
        </button>  
    </div>

</div> 