<div class="container-fluid">
    <div class="grid-container">
        <div class="title">Generar Código QR</div>

        <div class="find">
            <mat-card class="list-form">
                <mat-card-header>
                    <mat-card-subtitle>Listado de Activos</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <div>
                        <mat-form-field class="example-width-35" appearance="outline">
                            <mat-label>Clasificación</mat-label>
                            <mat-select [(ngModel)]="idDescripcion">
                                <mat-option *ngFor="let item of dataTipoActivos" [value]="item.IdDescripcion">
                                    {{ item.Descripcion }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Filtrar</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar busqueda" #input>
                        </mat-form-field>

                        <button mat-button type="button" color="primary" (click)="listarActivos()"><mat-icon>search</mat-icon>Buscar</button>
                        <button mat-button type="button" color="primary" (click)="onExportarRegistro()"><mat-icon>file_download</mat-icon>Descargar</button>
                    </div>

                    <div class="col-md-12 tabla">
                        <table mat-table [dataSource]='dataSource' matSort #sortData1="matSort" matSortActive="Cod_Activo" matSortDirection="desc" class="mat-elevation-z8">
                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? selection.toggle(row) : null"
                                                [checked]="selection.isSelected(row)"
                                                [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="Des_Planta">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
                                <td mat-cell *matCellDef="let element"> {{ element.Des_Planta }} </td>
                            </ng-container>

                            <ng-container matColumnDef="Cod_Activo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                                <td mat-cell *matCellDef="let element"> {{ element.Cod_Activo }} </td>
                            </ng-container>

                            <ng-container matColumnDef="Descripcion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                                <td mat-cell *matCellDef="let element"> {{ element.Descripcion }} </td>
                            </ng-container>

                            <ng-container matColumnDef="Nom_Marca">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
                                <td mat-cell *matCellDef="let element"> {{ element.Nom_Marca }} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="Nom_Modelo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
                                <td mat-cell *matCellDef="let element"> {{ element.Nom_Modelo }} </td>
                            </ng-container>

                            <ng-container matColumnDef="Num_Serie_Equipo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Número Serie </th>
                                <td mat-cell *matCellDef="let element"> {{ element.Num_Serie_Equipo }} </td>
                            </ng-container>

                            <ng-container matColumnDef="Nom_Area">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Area </th>
                                <td mat-cell *matCellDef="let element"> {{ element.Nom_Area }} </td>
                            </ng-container>

                            <ng-container matColumnDef="Nom_Responsable">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsable </th>
                                <td mat-cell *matCellDef="let element"> {{ element.Nom_Responsable }} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator #paginatorData1 [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>                        
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<div id="content" *ngIf="verPdf">
    <table class="tabla_cab">
        <tr *ngFor="let item of dataActivosPDF">
            <td colspan="1" class="td_inf">
                <div class="page">
                    <table class="table-qr">
                        <tr>
                            <th style="width: 180px;"></th>
                            <th witdh="80px"></th>
                            <th witdh="80px"></th>
                            <th witdh="80px"></th>
                            <th witdh="80px"></th>
                            <th witdh="80px"></th>
                            <th witdh="80px"></th>
                        </tr>
                        <tr>
                            <td rowspan="7">
                                <qrcode [qrdata]="'*' + item.Nom_Marca + '|' + item.Nom_Modelo + '|' + item.Num_Serie_Equipo + '*'" [width]="128" [errorCorrectionLevel]="'M'"></qrcode>
                            </td>
                            <td class="td-qr">Sede:</td>
                            <td class="td-qr">{{ item.Des_Planta }}</td>
                            <td class="td-qr">Area:</td>
                            <td class="td-qr" colspan="3">{{ item.Nom_Area }}</td>
                        </tr>
                        <tr>
                            <td class="td-qr">Codigo:</td>
                            <td class="td-qr">{{ item.Cod_Activo }}</td>
                            <td class="td-qr">Tipo:</td>
                            <td class="td-qr" colspan="3">{{ item.Descripcion }}</td>
                        </tr>
                        <tr>
                            <td class="td-qr">Marca</td>
                            <td class="td-qr">{{ item.Nom_Marca }}</td>
                            <td class="td-qr">Modelo:</td>
                            <td class="td-qr">{{ item.Nom_Modelo }}</td>
                            <td class="td-qr">N° Serie:</td>
                            <td class="td-qr">{{ item.Num_Serie_Equipo }}</td>
                        </tr>
                    </table>
                    <br>
                    <br>
                </div>                
            </td>
            <br>
        </tr>
    </table>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">  
    <p style="color: white; text-align: center; " >Cargando... </p>  
</ngx-spinner> 