<!-- <div class="container">

    <div class="grid-container">

        <div class="title"><strong>HABILITAR GUIA CONTINGENCIA </strong></div>

            <form class="container-cuerpo" [formGroup]="formulario" #formDirective="ngForm">
            <div class="container-cuerpo-fila1">


                <mat-radio-group aria-label="Seleccione una opción" formControlName="flag" >
                    <mat-radio-button value="si">SI  </mat-radio-button>&nbsp;&nbsp;&nbsp;
                    <mat-radio-button value="no">NO  </mat-radio-button>
                  </mat-radio-group>



            </div>



            <div class="container-cuerpo-foot">

                <button type="submit"   class="button-agregar" id="btnregistrar"    (click)="submit(formDirective)" mat-flat-button>
                  <mat-icon aria-label="person">add
                  </mat-icon>  Registrar
                </button>


                <button type="button" class="button-cancelar" id="btncancelar"  mat-button mat-dialog-close mat-dialog-close  mat-flat-button>
                    <mat-icon aria-label="person">highlight_off
                    </mat-icon>  Cancelar
                </button>
             
            </div>


        </form>

    </div>

</div>
 -->
