.container-fluid {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    padding: 5px 5px 5px 5px;
    font-family: corbel, arial;
    font-size: 16px;
    margin: 0;
}

mat-card {
    margin-top: 10px;
    padding: 0px;
}

mat-card-header {
    padding: 10px;
    border-bottom: 0.8px solid rgba(0, 0, 0, .2);
    border-left: 0.8px solid rgba(0, 0, 0, .2);
    border-right: 0.8px solid rgba(0, 0, 0, .2);
    border-top: 0.8px solid rgba(0, 0, 0, .2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

mat-card-content {
    
    padding: 10px 15px;
    border-bottom: 0.8px solid rgba(0, 0, 0, .2);
    border-left: 0.8px solid rgba(0, 0, 0, .2);
    border-right: 0.8px solid rgba(0, 0, 0, .2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cerrar {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    background-color: red;
    color: white;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-md-3{
    width: 20%;
    padding: 5px;
}

.col-md-5{
    width: 35%;
    padding: 5px;
}


.mat-column-ESTILO_PROPIO,
.mat-column-DESC_ESTILO_PROPIO,
.mat-column-ESTILO_CLIENTE,
.mat-column-TIPO_PRENDA,
.mat-column-GRUPO_TALLA,
.mat-column-acciones,
.mat-column-Cod_Auditor_Control_Interno {
    text-align: center;
    font-size: 12px;
    font-family: arial;
    padding: 5px;
    text-align: center
}


/* ------------------------- */
/* TABLA */
/* ------------------------- */

.tabla_cabecera {
    width: 100%;
}

tr:hover {
    border-color: currentColor;
    background: whitesmoke;
}

tr:active {
    background: #efefef;
}

table {
    width: 100%;

}
.mat-elevation-z8{
    width: 100%;
}


mat-card-footer{
    border-top: 1px solid rgba(0,0,0, .1);
    margin-top: 10px;
    padding: 24px 15px;
    width: 100%;
    text-align: right;
}

.form-control{
    padding: 5px;
    background-color: none;
    width: 100%;
}