.cotizacion-header-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.select-field {
  flex: 1 1 200px;
  min-width: 180px;
}

.cuadro-verde {
  flex: 1 1 100%;
  background-color: #e0f7e9;
  border-left: 6px solid #4caf50;
  padding: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin-top: 12px;
  overflow-x: auto;
}

.tabla-procesos {
  width: 100%;
  border-collapse: collapse;
}

.mat-header-cell {
  font-weight: 600;
  color: #2e7d32;
}

.mat-cell {
  color: #333;
}

@media screen and (max-width: 768px) {
  .cotizacion-header-container {
    flex-direction: column;
  }

  .select-field {
    width: 100%;
  }

  .tabla-procesos {
    font-size: 14px;
  }
}

.codigo-field, .descripcion-field {
  flex: 1 1 200px;
  min-width: 180px;
}

.descripcion-field input {
  font-weight: 500;
}

.spinner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh;
}

.spinner-text {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: center;
}


.loader {
    position: relative;
    width: 85px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0);
    background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
    animation: rikSpikeRoll 0.65s linear infinite alternate;
  }
@keyframes rikSpikeRoll {
  0% { background-size: 10px 3px;}
  16% { background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  33% { background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  50% { background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px}
  66% { background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px}
  83% { background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px}
  100% { background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px}
}
    

.ajuste-cell {
  text-align: center;   
  color: red;         
}

.ajuste-cell input {
  text-align: center;   
  color: red;       
  font-weight: 600;  
}

.mat-header-cell {
  text-align: center;
  justify-content: center; 
  font-weight: 600;       
}

