<div class="cotizacion-header-container">
  <!-- Selects superiores -->
  <mat-form-field appearance="fill" class="select-field">
    <mat-label>Unidad de negocio</mat-label>
    <mat-select [(ngModel)]="unidadNegocio">
      <mat-option *ngFor="let centroCosto of centroCosto" [value]="centroCosto.codigo">
        {{ centroCosto.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="select-field">
    <mat-label>Tipo</mat-label>
    <mat-select [(ngModel)]="tipo">
      <mat-option *ngFor="let t of tipos" [value]="t">{{ t }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="select-field">
    <mat-label>Cliente</mat-label>
    <mat-select [(ngModel)]="cliente">
      <mat-option *ngFor="let c of clientes" [value]="c">{{ c }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Código de tela -->
  <mat-form-field appearance="fill" class="codigo-field">
    <mat-label>Código de tela</mat-label>
    <input matInput [(ngModel)]="codigoTela" (keyup.enter)="buscarDescripcionTela()" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="descripcion-field">
    <mat-label>Descripción</mat-label>
    <input matInput [(ngModel)]="descripcionTela" readonly />
  </mat-form-field>

  <mat-form-field appearance="fill" class="select-field">
    <mat-label>Ruta</mat-label>
    <mat-select [(ngModel)]="codigoRutaTela" (selectionChange)="mostrarRutaDetalle($event.value)">
      <mat-option *ngFor="let ruta of RutaXCodTela" [value]="ruta.codigo">{{ ruta.nombre }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Recuadro verde con tabla -->
  <div class="cuadro-verde" *ngIf="codigoRutaTela">
    <table mat-table [dataSource]="dataSource" class="tabla-procesos">
    
      <!-- Hover -->
      <ng-container matColumnDef="hover">
        <th mat-header-cell *matHeaderCellDef>/</th>
        <td mat-cell *matCellDef="let row" (click)="toggleExpand(row)" [ngClass]="{'descripcion-f': row.pro_Tip === 'F'}">
          {{ row.pro_Hover }}
          <!-- <mat-icon *ngIf="row.isParent && row.tieneHijos" style="cursor:pointer">
            {{ expandedRows.has(row.pro_Hover) ? 'expand_less' : 'expand_more' }}
          </mat-icon> -->
        </td>
      </ng-container>
    
      <!-- Descripción -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef class="col-achi">Descripción</th>
        <td mat-cell *matCellDef="let row" class="col-achi" [ngClass]="{'descripcion-f': row.pro_Tip === 'F'}">{{ row.pro_Des }}</td>
      </ng-container>
    
      <!-- Factor -->
      <ng-container matColumnDef="factor">
        <th mat-header-cell *matHeaderCellDef>Factor</th>
        <td mat-cell *matCellDef="let row">
         <span *ngIf="!(row.isParent && row.tieneHijos) && row.pro_Tip !== 'F' && row.pro_Tip !== 'R'">
            {{ row.pro_Factor }}
          </span>
        </td>
      </ng-container>
    
      <!-- Costo Kg -->
      <ng-container matColumnDef="cosKg">
        <th mat-header-cell *matHeaderCellDef>Costo Kg</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="!(row.isParent && row.tieneHijos) && row.pro_Tip !== 'F' && row.pro_Tip !== 'R'">
            {{ row.pro_Cos_Kg }}
          </span>
        </td>
      </ng-container>
    
      <!-- Total -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.pro_Tip !== 'R'">{{ row.pro_Tot }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalComercial">
        <th mat-header-cell *matHeaderCellDef>Total Comercial</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.pro_Tip !== 'R'">{{ row.pro_Tot_Com }}</span>
        </td>
      </ng-container>
    
      <!-- Ajuste -->
      <ng-container matColumnDef="ajuste">
        <th mat-header-cell *matHeaderCellDef>Ajuste</th>
        <td mat-cell *matCellDef="let row" class="ajuste-cell">
          <mat-form-field appearance="standard" *ngIf="row.isParent && row.pro_Tip !== 'F' && row.pro_Tip !== 'R'">
            <input matInput type="number" [(ngModel)]="row.pro_Aju" (ngModelChange)="recalcular(row)" />
          </mat-form-field>
          <span *ngIf="row.isChild && row.pro_Tip !== 'F' && row.pro_Tip !== 'R'">
            <!-- <span *ngIf="!row.isParent && !row.isChild"> -->
              {{ row.pro_Aju }}
            <!-- </span> -->
          </span>
        </td>
      </ng-container>
    
      <!-- Cotización -->
      <ng-container matColumnDef="cotizacion">
        <th mat-header-cell *matHeaderCellDef>Cotización</th>
        <td mat-cell *matCellDef="let row" class="cotizacion-cell">
          <span *ngIf="!row.isChild">
            <ng-container *ngIf="row.pro_Tip === 'R' && row.pro_Des === 'RENTABILIDAD'; else cotizacionNormal">
              {{ row.pro_Por | number:'1.2-2' }} %
            </ng-container>
            <ng-template #cotizacionNormal>
              {{ row.pro_Cotizacion | number:'1.2-2' }}
            </ng-template>
          </span>
        </td>
      </ng-container>

      
      <ng-container matColumnDef="porcentaje">
        <th mat-header-cell *matHeaderCellDef>Porcentaje</th>
        <td mat-cell *matCellDef="let row">{{ row.pro_Por }}</td>
      </ng-container>

      <ng-container matColumnDef="TipoUbicacion">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let row">{{ row.pro_Tip }}</td>
      </ng-container>
    
      <!-- Header -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    
      <!-- Filas -->
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns"
        [class.hidden]="row.isChild && !expandedRows.has(row.padreKey)" [class.subgrupo-row]="row.isChild">
      </tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns"
        [class.hidden]="row.isChild && !expandedRows.has(row.padreKey)" [class.subgrupo-row]="row.isChild"
        [class.expandible-row]="row.isParent && row.tieneHijos"
        [ngClass]="{'fila-r': row.pro_Tip === 'R'}">
      </tr>
    </table>
  </div>
</div>

<!-- Spinner global -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" type="custom" [fullScreen]="true">
  <div class="spinner-wrapper">
    <p class="spinner-text">Cargando</p>
    <div class="loader"></div>
  </div>
</ngx-spinner>