<div class="cotizacion-header-container">
  <!-- Selects superiores -->
  <mat-form-field appearance="fill" class="select-field">
    <mat-label>Unidad de negocio</mat-label>
    <mat-select [(ngModel)]="unidadNegocio">
      <mat-option *ngFor="let unidad of unidades" [value]="unidad">{{ unidad }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="select-field">
    <mat-label>Tipo</mat-label>
    <mat-select [(ngModel)]="tipo">
      <mat-option *ngFor="let t of tipos" [value]="t">{{ t }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="select-field">
    <mat-label>Cliente</mat-label>
    <mat-select [(ngModel)]="cliente">
      <mat-option *ngFor="let c of clientes" [value]="c">{{ c }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Código de tela --> 
    <mat-form-field appearance="fill" class="codigo-field"> 
        <mat-label>Código de tela</mat-label> 
        <input matInput [(ngModel)]="codigoTela" (keyup.enter)="buscarDescripcionTela()" /> 
    </mat-form-field> 
    <mat-form-field appearance="fill" class="descripcion-field"> 
        <mat-label>Descripción</mat-label> 
        <input matInput [(ngModel)]="descripcionTela" readonly /> 
    </mat-form-field>
  
  
  <mat-form-field appearance="fill" class="select-field">
    <mat-label>Ruta</mat-label>
    <mat-select [(ngModel)]="codigoRutaTela" (selectionChange)="mostrarRutaDetalle($event.value)">
      <mat-option *ngFor="let ruta of RutaXCodTela" [value]="ruta.cod_Ruta">{{ ruta.descripcion }}</mat-option>
    </mat-select>
  </mat-form-field>

<!-- Código de tela --> 
    <!-- <mat-form-field appearance="fill" class="codigo-field"> 
        <mat-label>Código de tela</mat-label> 
        <input matInput [(ngModel)]="codigoTela" (keyup.enter)="buscarDescripcionTela()" /> 
    </mat-form-field> 
    <mat-form-field appearance="fill" class="descripcion-field"> 
        <mat-label>Descripción</mat-label> 
        <input matInput [(ngModel)]="descripcionTela" readonly /> 
    </mat-form-field> -->


  <!-- <mat-form-field appearance="fill" class="select-field">
    <mat-label>Ruta</mat-label>
    <mat-select [(ngModel)]="rutaSeleccionada" (selectionChange)="actualizarRuta()">
      <mat-option *ngFor="let rutaDet of RutaXCodTelaDetalle" [value]="rutaDet.">{{ rutaDet }}</mat-option>
    </mat-select>
  </mat-form-field> -->

  <!-- Recuadro verde con tabla -->
  <div class="cuadro-verde" *ngIf="codigoRutaTela">
    <table mat-table [dataSource]="dataSource" class="tabla-procesos">

    <!-- Proceso -->
    <ng-container matColumnDef="proceso">
      <th mat-header-cell *matHeaderCellDef> Proceso </th>
      <td mat-cell *matCellDef="let proceso"> {{ proceso.descripcion }} </td>
    </ng-container>  

    <!-- Factor -->
    <ng-container matColumnDef="factor">
      <th mat-header-cell *matHeaderCellDef> Factor </th>
      <td mat-cell *matCellDef="let proceso"> {{ proceso.factor }} </td>
    </ng-container>

    <!-- Costo/kg -->
    <ng-container matColumnDef="costoKg">
      <th mat-header-cell *matHeaderCellDef> Costo/kg </th>
      <td mat-cell *matCellDef="let proceso"> {{ proceso.costoKg | currency:'USD':'symbol':'1.2-2' }} </td>
    </ng-container>

    <!-- Total Teórico -->
    <ng-container matColumnDef="totalTeorico">
      <th mat-header-cell *matHeaderCellDef> Total $ Teórico </th>
      <td mat-cell *matCellDef="let proceso"> {{ proceso.totalTeorico | currency:'USD':'symbol':'1.2-2' }} </td>
    </ng-container>

    <!-- Total Comercial -->
    <ng-container matColumnDef="totalComercial">
      <th mat-header-cell *matHeaderCellDef> Total $ Comercial </th>
      <td mat-cell *matCellDef="let proceso"> {{ proceso.totalComercial | currency:'USD':'symbol':'1.2-2' }} </td>
    </ng-container>

    <!-- Ajuste -->
    <!-- <ng-container matColumnDef="ajuste">
      <th mat-header-cell *matHeaderCellDef> Ajuste </th>
      <td mat-cell *matCellDef="let proceso"> {{ proceso.ajuste | currency:'USD':'symbol':'1.2-2' }} </td>
    </ng-container> -->
    

    <!-- Ajuste -->
    <ng-container matColumnDef="ajuste">
    <th mat-header-cell *matHeaderCellDef> Ajuste </th>
    <td mat-cell *matCellDef="let proceso" class="ajuste-cell">
        <mat-form-field appearance="standard">
        <input matInput type="number"
                [(ngModel)]="proceso.ajuste"
                (ngModelChange)="recalcular(proceso)" />
        </mat-form-field>
    </td>
    </ng-container>

    <!-- Cotización -->
    <ng-container matColumnDef="cotizacion">
    <th mat-header-cell *matHeaderCellDef> Cotización </th>
    <td mat-cell *matCellDef="let proceso">
        <!-- | currency:'USD':'symbol':'1.2-2' -->
        {{ proceso.cotizacion  }}
    </td>
    </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>


<!-- Spinner global -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" type="custom" [fullScreen]="true">
  <div class="spinner-wrapper">
    <p class="spinner-text">Cargando</p>
    <div class="loader"></div>
  </div>
</ngx-spinner>
