.container-fluid {
    box-sizing: border-box;
    width: 100%;
    min-height: 50%;
    height: 500px;
    padding: 5px 5px 5px 5px;
    font-family: corbel, arial;
    font-size: 16px;
    margin: 0;
}

.grid-container {
    border-radius: 4px;
    width: 99%;
    height: 93%;
    border: 1px solid #337ab7;
    margin: 0;
    padding: 0;
    //min-width: 320px;
}

.title {
    background-color: #337ab7;
    color: #fcffff;
    padding: 8px 0px 10px 0px;
    text-align: center;
    font-weight: 500;
}

.find, .main, .footer {
    margin: 5px 5px 0px 5px;
}

.find {
    padding: 0px 15px;
    border-width: 0px 0px 1px 0px;
    width: 99%;
    margin: 0%;
}

.list-form {
    padding-bottom: 8px;
    width: 99%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.mat-elevation-z8 {
    width: 100%;
	font-family: arial;
	font-size: 10px;
}

.image-container {
  overflow: hidden; /* Asegura que el contenedor se ajuste al contenido flotante */
}

.image-container img {
  float: left; /* Flota las imágenes a la izquierda */
  width: 90%; /* Ocupa ancho del contenedor */
  box-sizing: border-box; /* Incluye el padding y border en el ancho */
  padding: 10px; /* Añade un espacio entre las imágenes */
}

video, canvas {
  width: 95%;
  max-width: 500px;
  margin: 10px 0;
}