<div class="container-fluid">
    <div class="grid-container">
        <div class="title">Evidencia Auditoria Empaque - Caja N° {{data.numCaja}}</div>

        <div class="find">
            <form class="list-form" (ngSubmit)="submit()" >
                <mat-card>
                    <mat-card-content>
                        <div *ngIf="mostrarModal" class="modal-overlay">
                            <div class="modal-content">
                                <video #video autoplay></video>
                                <div class="modal-actions">
                                    <button mat-button (click)="capturarFoto(video)"><mat-icon>photo_camera</mat-icon>Capturar</button>
                                    <button mat-button (click)="cambiarCamara()"><mat-icon>flip_camera_ios</mat-icon>Cambiar Cámara</button>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>

                    <mat-card-actions>
                        <!--<button mat-button type="submit" color="primary" [disabled]="capturedImage"><mat-icon>done</mat-icon>Tomar Foto</button>-->
                        <button mat-button type="submit" color="primary"><mat-icon>done</mat-icon>Tomar Foto</button>
                        <button mat-button mat-dialog-close color="warn"><mat-icon>close</mat-icon>Salir</button>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
    </div>
</div>