<div class="registro-responsable-container">
<h2>Registro de Responsable</h2>

<form #formResponsable="ngForm" (ngSubmit)="Procesar()" class="form-stack">

    <!-- Nombre -->
    <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="formData.resp_Nom" name="nombre" required />
    </mat-form-field>

    <!-- Apellido Paterno -->
    <mat-form-field appearance="fill">
    <mat-label>Apellido Paterno</mat-label>
    <input matInput [(ngModel)]="formData.resp_Ape_Pat" name="apePaterno" required />
    </mat-form-field>

    <!-- Apellido Materno -->
    <mat-form-field appearance="fill">
    <mat-label>Apellido Materno</mat-label>
    <input matInput [(ngModel)]="formData.resp_Ape_Mat" name="apeMaterno" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>Correo</mat-label>
    <input matInput [(ngModel)]="formData.resp_Correo" name="correo" required />
    </mat-form-field>

    <!-- Botones -->
    <div class="botonera">
    <button mat-raised-button color="primary" type="submit" [disabled]="formResponsable.invalid">
        <mat-icon>save</mat-icon> Guardar
    </button>
    <button mat-stroked-button type="button" (click)="cancelarRegistro()">
        Cancelar
    </button>
    </div>
</form>
</div>
