<div class="admin-container mat-elevation-z2">
  <!-- 🔹 Encabezado con título + botón alineados -->
  <div class="header-container">
    <div class="title">MÓDULO ADMINISTRADOR DE SOLICITUDES</div>
    <button mat-raised-button color="accent" (click)="exportarExcel()">
      EXPORTAR EXCEL
    </button>
  </div>

<div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1" matSort>

    <!-- Opciones de Atender -->
    <ng-container matColumnDef="atender">
      <th mat-header-cell *matHeaderCellDef>ATENDER</th>
      <td mat-cell *matCellDef="let visor">
        
        <button mat-icon-button color="primary" *ngIf="visor.cod_Estado_Mant === '01'" (click)="onInforme(visor)">
            <mat-icon>handyman</mat-icon>
        </button>             

      </td>
    </ng-container>      

    <!-- Columnas -->
    <ng-container matColumnDef="cod_Solicitud">
        <th mat-header-cell *matHeaderCellDef class="codigo-header" mat-sort-header>CODIGO</th>
        <td mat-cell *matCellDef="let visor" class="memo-cell">{{ visor.cod_Solicitud }}</td>
    </ng-container>

    <ng-container matColumnDef="fec_Registro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA REPORTE</th>
      <td mat-cell *matCellDef="let visor">{{ visor.fec_Registro | date:'dd/MM/yyyy' }}</td>
    </ng-container>    

    <ng-container matColumnDef="cod_Area">
      <th mat-header-cell *matHeaderCellDef class="area-header" mat-sort-header>AREA</th>
      <td mat-cell *matCellDef="let visor">{{ visor.area }}</td>
    </ng-container>
    <ng-container matColumnDef="cod_Maquina">
      <th mat-header-cell *matHeaderCellDef class="maquina-header" mat-sort-header>MAQUINA</th>
      <td mat-cell *matCellDef="let visor">{{ visor.cod_Maquina }}</td>
    </ng-container>

    <ng-container matColumnDef="tipo_tarea">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO TAREA</th>
      <td mat-cell *matCellDef="let visor">{{ visor.nombre_Tarea }}</td>
    </ng-container>



    <ng-container matColumnDef="tipo_falla">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO FALLA</th>
      <td mat-cell *matCellDef="let visor">{{ visor.desc_TipFall }}</td>
    </ng-container>    

    <ng-container matColumnDef="supervisor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>SUPERVISOR</th>
      <td mat-cell *matCellDef="let visor">{{ visor.supervisor }}</td>
    </ng-container>        

    <ng-container matColumnDef="observacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>OBS. SUPERVISOR</th>
      <td mat-cell *matCellDef="let visor">{{ visor.observacion }}</td>
    </ng-container> 

    <!-- <ng-container matColumnDef="paro_Maquina">
      <th mat-header-cell *matHeaderCellDef>Paro Maquina</th>
      <td mat-cell *matCellDef="let visor">{{ visor.paro_Maquina }}</td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="paro_Maquina">
    <th mat-header-cell *matHeaderCellDef>Paro MQ</th>
    <td mat-cell *matCellDef="let visor">
        <button mat-flat-button color="warn"
        [ngClass]="visor.paro_Maquina == 'SI' ? 'btn-rojo' : 'btn-blue'"
        >{{ visor.paro_Maquina }}</button>
    </td>
    </ng-container> -->

    <ng-container matColumnDef="paro_Maquina">
    <th mat-header-cell *matHeaderCellDef>PARO MQ</th>
    <td mat-cell *matCellDef="let visor">
        <span [ngClass]="visor.paro_Maquina == 'SI' ? 'paro-activo' : 'paro-inactivo'">
        {{ visor.paro_Maquina }}
        </span>
    </td>
    </ng-container>    

    <ng-container matColumnDef="prioridad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PRIORIDAD</th>
      <td mat-cell *matCellDef="let visor">
        <span [ngClass]="getPrioridadClass(visor.prioridad_Des)">
        {{ visor.prioridad_Des }}
        </span>             
        <!-- {{ visor.prioridad_Des }} -->

      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="hora_Reporte">
      <th mat-header-cell *matHeaderCellDef>Hora Reporte</th>
      <td mat-cell *matCellDef="let visor">{{ visor.hora_Reporte }}</td>
    </ng-container> -->
    <ng-container matColumnDef="hora_Inicio">
      <th mat-header-cell *matHeaderCellDef>HORA INICIO</th>
      <td mat-cell *matCellDef="let visor">{{ visor.hora_Reporte }}</td>
    </ng-container>
    <ng-container matColumnDef="t1_Tiempo_Espera_Min_Des">
      <th mat-header-cell *matHeaderCellDef>TIEMPO RESPUESTA</th>
      <td mat-cell *matCellDef="let visor">
         <span class="text-right">{{ visor.t1_Tiempo_Espera_Min_Des }}</span>
        <!-- {{ visor.t1_Tiempo_Espera_Min_Des || '-' }} -->
      </td>
    </ng-container>
    <ng-container matColumnDef="t2_Tiempo_Interv_Min_Des">
      <th mat-header-cell *matHeaderCellDef>TIEMPO INTERVEN.</th>
      <td mat-cell *matCellDef="let visor">
        <span class="text-right">{{ visor.t2_Tiempo_Interv_Min_Des }}</span>
        <!-- {{ visor.t2_Tiempo_Interv_Min_Des }} -->
      </td>
    </ng-container>
    <ng-container matColumnDef="t3_Tiempo_VB_Min_Des">
      <th mat-header-cell *matHeaderCellDef>TIEMPO VALIDACION</th>
      <td mat-cell *matCellDef="let visor">
        <span class="text-right">{{ visor.t3_Tiempo_VB_Min_Des }}</span>
        <!-- {{ visor.t3_Tiempo_VB_Min_Des }} -->
      </td>
    </ng-container>    
    <!-- <ng-container matColumnDef="usu_Registro">
      <th mat-header-cell *matHeaderCellDef>Usuario Registro</th>
      <td mat-cell *matCellDef="let visor">{{ visor.usu_Registro }}</td>
    </ng-container> -->
    <ng-container matColumnDef="des_Usuario_Tecnico">
      <th mat-header-cell *matHeaderCellDef>TECNICO</th>
      <td mat-cell *matCellDef="let visor">{{ visor.des_Usuario_Tecnico }}</td>
    </ng-container>

    <ng-container matColumnDef="nombre_Estado">
      <th mat-header-cell *matHeaderCellDef>ESTADO</th>
      <td mat-cell *matCellDef="let visor">
        <span [ngClass]="getEstadoClass(visor.cod_Estado_Mant)">
        {{ visor.nombre_Estado }}
        </span>           
        <!-- {{ visor.nombre_Estado }} -->
      </td>
    </ng-container>

    <ng-container matColumnDef="ruta_Fotografia">
      <th mat-header-cell *matHeaderCellDef>FOTO</th>
      <td mat-cell *matCellDef="let data_visor">
      <img [src]="solicitudService.getImagenUrl(data_visor.ruta_Fotografia)" 
                  alt='Foto' width="40" height="40" 
                  (click)="verFoto(solicitudService.getImagenUrl(data_visor.ruta_Fotografia))"
                  />
                  <a *ngIf = "data_visor.ruta_Fotografia == '' "></a>
      </td>
    </ng-container>    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    ></tr>
</table>
</div>

<!-- <div class="export-button">
    <button mat-raised-button color="accent" (click)="exportarExcel()">EXPORTAR EXCEL</button>
</div> -->
</div>

<ng-template #visorFoto let-data>
  <div class="visor-wrapper">
    <button mat-icon-button class="cerrar-btn" (click)="dialog.closeAll()">
      <mat-icon>close</mat-icon>
    </button>
    <img [src]="data" alt="Foto ampliada" class="foto-responsiva" />
  </div>
</ng-template>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default">
    <div class="loader"></div>
</ngx-spinner>