.admin-container {
background-color: #fff;
padding: 1rem;
border-radius: 8px;
max-width: 100%;
overflow-x: auto;

.title {
  font-size: 20px;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid #01579b;
  padding-bottom: 10px;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;

    table {
    width: 100%;
    min-width: 1200px;

    th {
        background-color: #f5f5f5;
        font-weight: 600;
        color: #444;
    }

    td {
        color: #555;
    }

    tr.mat-row:hover {
        background-color: #f0f0f0;
    }
    }
}

.export-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;

    button {
    font-weight: 500;
    }
}
}

@media screen and (max-width: 768px) {
.title {
    font-size: 1.2rem;
}

.export-button {
    justify-content: center;
}
}

//columna numero de memo
.memo-cell {
  color: blue !important;
  font-weight: bold;
}

table.mat-table {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 13.5px; /* Tamaño de texto */
  color: #333; /* Color del texto */
}

.btn-rojo{
    background  : #f44336;
    color       : #ffff;
    font-weight : bold;
}

.btn-blue{
    background  : #1568d6;
    color       : #ffff;
    font-weight : bold;
}


// .prioridad-alta {
//   background-color: #ea4441    !important;  /* rojo fuerte */
//   border-left: 4px solid #ffb300;
// }

// .prioridad-media {
//   background-color: #fedc00 !important;
//   border-left: 4px solid #ff9800;
// }

// .prioridad-baja {
//   background-color: #e8f5e9;
//   border-left: 4px solid #4caf50;
// }

// ::ng-deep .mat-row.prioridad-alta td {
//   color: #ffffff !important;
// }

// ::ng-deep .mat-row.prioridad-media td {
//   color: #0a0303 !important;
// }


.header-container {
  display: flex;
  justify-content: space-between; /* Título a la izquierda, botón a la derecha */
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  margin: 0;
  font-weight: 600;
  color: #2b2b2b;
}

.admin-container {
  padding: 1.5rem;
}

.export-button {
  margin-left: auto;
}

//Estados de colores.
.estado-reportado {
  background-color: #ffe082; /* amarillo suave */
  color: #5d4037;
  padding: 4px 8px;
  border-radius: 4px;
}

.estado-atencion {
  background-color: #81d4fa; /* azul claro */
  color: #01579b;
  padding: 4px 8px;
  border-radius: 4px;
}

.estado-pendiente {
  background-color: #fff59d; /* amarillo */
  color: #f57f17;
  padding: 4px 8px;
  border-radius: 4px;
}

.estado-cerrado {
  background-color: #c8e6c9; /* verde claro */
  color: #2e7d32;
  padding: 4px 8px;
  border-radius: 4px;
}

.estado-rechazado {
  background-color: #ef9a9a; /* rojo claro */
  color: #b71c1c;
  padding: 4px 8px;
  border-radius: 4px;
}

//Prioridad
.prioridad-alta {
  background-color: #ef9a9a;
  color: #b71c1c;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.prioridad-media {
  background-color: #fff59d;
  color: #f57f17;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.prioridad-baja {
  background-color: #c8e6c9;
  color: #2e7d32;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

//Paro Maquina
.paro-activo {
  background-color: #ef5350; /* rojo alerta */
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.paro-inactivo {
  background-color: #42a5f5; /* azul informativo */
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.text-right {
  text-align: center;
  color:#01579b;
  display: block; /* necesario si usas span */
}

.codigo-header {
  width: 100px;
}

.titulo-modulo {
  font-size: 28px;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid #e91e63;
  padding-bottom: 10px;
}

.mat-cell.mat-column-cod_Area,
.mat-cell.mat-column-cod_Maquina,
.mat-cell.mat-column-tipo_tarea,
.mat-cell.mat-column-tipo_falla,
.mat-cell.mat-column-des_Usuario_Tecnico
 {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #37474f;
  text-transform: capitalize;
}

.codigo-header {
  width: 100px;
}

.area-header {
  width: 120px !important;
}

.maquina-header {
  width: 100px;
}