<div class="container" *ngIf="this.ActivarFormulario == true">
  <div class="title">Lista de quejas y reclamo del cliente</div>
  <div class="formulario">

      <div>
        <label>Nro Caso:</label><input [(ngModel)]="nuevoReclamo.nroCaso" />
      </div>

      <div>
        <label>Fecha Inicio:</label><input type="date" [(ngModel)]="nuevoReclamo.fechaInicio" />
      </div>

      <div>
        <label>Fecha Fin:</label><input type="date" [(ngModel)]="nuevoReclamo.fechaFin" />
      </div>

      <div>
        <label>Cliente:</label><input [(ngModel)]="nuevoReclamo.cliente" />
      </div>

      <div>
        <!--REEMPLAZADO POR NRO DE PARTIDA-->
        <!-- <label for="clienteSelect">Seleccione Tipo Registro</label>
        <select id="clienteSelect" [(ngModel)]="nuevoReclamo.tipoRegistro" (change)="reiniciarEstado()">
          <option *ngFor="let c of tipoRegistro" [value]="c.estado">{{ c.estado }}</option>
        </select> -->

        <label for="clienteSelect">Nro Partida:</label>
        <input [(ngModel)]="nuevoReclamo.cod_Ordtra" />

      </div>

      <div>
        
     
        <label for="clienteSelect">Seleccione Unidad Negocio</label>
        <select id="clienteSelect" [(ngModel)]="nuevoReclamo.cod_Unidad_Negocio">
          <option *ngFor="let c of unidadNegocioFiltro" [value]="c.cod_Unidad_Negocio"> {{ c.des_Unidad_Negocio }}</option>
        </select>  
      </div>

      <div>
        <!-- <label for="clienteSelect">Seleccione Estado Solicitud</label>
        <select id="clienteSelect" [(ngModel)]="nuevoReclamo.estadoSolicitud" (change)="reiniciarEstado()">
          <option *ngFor="let c of estados" [value]="c.cod_Estado"> {{ c.nombre_Estado }}</option>
        </select> -->

        <label for="clienteSelect">Seleccione Estado Solicitud</label>
        <select id="clienteSelect" [(ngModel)]="nuevoReclamo.estadoSolicitud">
          <option *ngFor="let c of estados" [value]="c.cod_Estado"> {{ c.nombre_Estado }}</option>
        </select>        
      </div>

      <!-- <div>
        <label for="clienteSelect">Seleccione Area responsable</label>
        <select id="clienteSelect" [(ngModel)]="nuevoReclamo.responsable" (change)="reiniciarEstado()">
          <option *ngFor="let c of responsable" [value]="c.nombreArea">{{ c.nombreArea }}</option>
        </select>
      </div> -->

      <button mat-raised-button color="primary" class="boton-buscar" (click)="buscar()">
        🔍Buscar
      </button>

      <button mat-raised-button color="primary" class="boton-nuevo" (click)="nuevo()">
        ☑️Nuevo
      </button>

      <button mat-raised-button color="primary" class="boton-excel" (click)="exportarExcel()">
        📥Exportar a Excel
      </button>

  </div>
  <table>
    <thead>
        <tr>
          <th>Nro. Caso</th>
          <th>Fecha Registro</th>
          <th>Cliente</th>
          <th>Usu. Asignado</th>
          <th>Usu. Registro</th>
          <th>Estado solicitud</th>
          <th>Indicador</th>
          <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filtro | paginate: { itemsPerPage: itemsPorPagina, currentPage: currentPage }">
        <td>{{ item.nroCaso }}</td>
        <td>{{ item.fechaRegistro | date: 'dd/MM/yyyy' }}</td>
        <!-- <td>{{ item.cliente?.toLowerCase() }}</td> -->
        <td>{{ item.cliente }}</td>
        <td>{{ item.tipoRegistro }}</td>
        <td>{{ item.usuarioRegistro }}</td>
        <td>{{ item.estadoSolicitud }}</td>
        <td [ngClass]="{
          'older-than-48-hours': isOlderThan(item.fechaRegistro, 48),
          'between-24-and-48-hours': isBetween(item.fechaRegistro, 24, 48),
          'younger-than-24-hours': isYoungerThan(item.fechaRegistro, 24)
        }">
        <span style="display: inline-flex; align-items: center;">
          <span style="width: 30px; height: 30px; border-radius: 80%; margin-right: 5px;"
                [style.background-color]="
            item.cod_Estado === '03' ? 'blue' :
            (item.cod_Estado === '04' ? 'lightblue' :
              (isOlderThan(item.fechaRegistro, 48) ? 'red' :
               (isBetween(item.fechaRegistro, 24, 48) ? 'yellow' : 'green')))
                ">
          </span>
        </span>
      </td>
        <td>
          <button *ngIf="mostrarBotonInforme(item)" mat-icon-button color="primary" (click)="informe(item)" matTooltip="Crear/Ver Informe Calidad">
            <mat-icon>assignment</mat-icon>
          </button>   
          <button *ngIf="mostrarBotonCerrar(item)" mat-icon-button color="primary" (click)="cerrarCaso(item)" matTooltip="Cerrar/Ver Informe Comercial">
            <mat-icon>cancel_presentation</mat-icon>
          </button>                    
          <button mat-icon-button color="primary" (click)="editar(item)" matTooltip="Editar reclamo">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="mostrarBotonEliminar(item)" mat-icon-button color="warn" (click)="eliminar(item)" matTooltip="Eliminar reclamo">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>

  </table>

  <pagination-controls
  (pageChange)="currentPage = $event"
  previousLabel="←"
  nextLabel="→"
  [maxSize]="5"
  [directionLinks]="true"
  [autoHide]="true">
</pagination-controls>

</div>

<div class="container"  *ngIf="this.ActivarFormulario == false">
  <!--<h2>Registro de quejas y reclamo del cliente</h2>-->
  <div class="title">{{ this.esNuvoReclamo ? 'Registro de quejas y reclamo del cliente' : 'Actualizar quejas y reclamo del cliente' }}</div>
  <div class="formulario">

    <div *ngIf="this.esNuvoReclamo == false">
      <label>Nro Caso:</label><input [(ngModel)]="nuevoReclamo.nroCaso" disabled/>
    </div>

    <div>
      <div>
        <label for="clienteSelect">Partida</label>
        <input placeholder="Ingrese Partida" [(ngModel)]="nuevoReclamo.cod_Ordtra" (keydown.enter)="buscarTelasXPartida()" [disabled]="!esNuvoReclamo"/>
        <input *ngIf="esNuvoReclamo" [(ngModel)]="nuevoReclamo.cadenaCodOrdtra" disabled />
      </div>    
    </div>    

    <div>
      <label for="clienteInput">Cliente</label>
      <!-- <input
        id="clienteInput"
        type="text"
        [(ngModel)]="clienteInput"
        (input)="actualizarClienteDesdeInput()"
        placeholder="Buscar cliente..."
      /> -->

      <select [(ngModel)]="nuevoReclamo.cod_Cliente_Tex" disabled>
        <option *ngFor="let c of clientes" [value]="c.cod_Cliente_Tex">
          {{ c.nom_Cliente }}
        </option>
      </select>
    </div>

    <div>
      <label for="clienteSelect">Unidad Negocio</label> 
      <select id="clienteSelect" [(ngModel)]="nuevoReclamo.cod_Unidad_Negocio" disabled>
        <option *ngFor="let c of this.unidadNegocio2" [value]="c.cod_Unidad_Negocio">{{ c.des_Unidad_Negocio }}</option>
      </select>
    </div>    
    
    <div>
      <label for="clienteSelect">Area responsable</label>
      <select id="clienteSelect" [(ngModel)]="nuevoReclamo.responsable" (change)="onSelectArea()">
        <!--<option value="" disabled selected>Seleccione responsable</option>   Opción por defecto -->
        <option *ngFor="let c of responsable" [value]="c.idArea">{{ c.nombreArea }}</option>
      </select>
    </div>      

    <div>
      <label for="clienteSelect">Usuario responsable</label>
      <select id="clienteSelect" [(ngModel)]="nuevoReclamo.tipoRegistro">
        <!--<option value="" disabled selected>Seleccione tipo Registro</option>   Opción por defecto -->
        <option *ngFor="let c of tipoRegistroCopia" [value]="c.idEstado">{{ c.estado }}</option>
      </select>
    </div>

    <!-- <div>
      <label for="clienteSelect">Seleccione Estado Solicitud</label>
      <select id="clienteSelect" [(ngModel)]="nuevoReclamo.estadoSolicitud"> -->
        <!--option value="" disabled selected>Seleccione Estado Solicitud</option>-->
        <!-- <option *ngFor="let c of estados" [value]="c.estado">{{ c.estado }}</option>
      </select>
    </div> -->


      <div>
        <label for="clienteInput">Seleccione Motivo</label>
        <input
          id="motivoInput"
          type="text"
          [(ngModel)]="motivoInput"
          (input)="filtrarMotivos()"
          placeholder="Buscar motivo..."
        />

        <select [(ngModel)]="nuevoReclamo.cod_Motivo" (ngModelChange)="actualizarDescripcionMotivo($event)">
          <option *ngFor="let c of motivoFiltrados" [value]="c.cod_Motivo">
            {{ c.cod_Motivo }} - {{ c.descripcion }}
          </option>
        </select>        
      </div>
 

    <div>
      <label for="clienteSelect">Observacion</label>
      <input placeholder="Observación" [(ngModel)]="nuevoReclamo.observacion" />
    </div>

    <!--<button (click)="agregarReclamo()" class="buton-cab" mat-raised-button color="accent">
      ➕ Agregar
    </button>-->
  </div>

  <div>
    <button *ngIf="esNuvoReclamo" (click)="agregarReclamo()" class="buton-cab" mat-raised-button color="accent">
      ➕ Agregar
    </button>
  </div>
<br>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Cliente</th>
        <th>Partida</th> <!--NUEVO-->
        <th>Tela</th> <!--NUEVO-->
        <th>Color</th> <!--NUEVO-->
        <th>Usuario Asignado</th>
        <th>Unidad de Negocio</th>
        <th>Usuario Registro</th>
        <th>Responsable</th>
        <th>Motivo Registro</th>
        <th>Estado Solicitud</th>
        <th>Observación</th>
        <th>Archivo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reclamo of reclamos; let i = index">
        <td>{{ reclamo.id }}</td>
        <td>{{ reclamo.cliente }}</td>  

        <td>{{ reclamo.cod_Ordtra }}</td><!--NUEVO-->
        <td>{{ reclamo.cod_Tela + ' - ' + reclamo.des_Tela }}</td><!--NUEVO-->
        <td>{{ reclamo.cod_Color+ ' - ' + reclamo.des_Color }}</td><!--NUEVO-->

        <td>{{ reclamo.tipoRegistro }}</td>
        <td>{{ reclamo.des_Unidad_Negocio }}</td>
        <!-- <td>{{ reclamo.unidadNegocio }}</td> -->
        <td>{{ reclamo.usuarioRegistro }}</td>
        <td>{{ reclamo.responsable }}</td>
        <td>{{ reclamo.cod_Motivo + ' - ' + reclamo.motivoRegistro }}</td>
        <td>{{ reclamo.estadoSolicitud }}</td>
        <td>{{ reclamo.observacion }}</td>

        <!-- Mostrar botón si hay archivo y no es nuevo reclamo -->
        <td *ngIf="reclamo.nombreArchivo">
          <button
            (click)="verArchivo(reclamo.nombreArchivo)"
            class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-1 px-3 rounded-xl shadow transition duration-200 ease-in-out"
            title="Ver archivo adjunto"
          >
            📎 Ver archivo
          </button>
        </td>

        <!-- Mostrar input para nuevo reclamo -->
        <td *ngIf="!reclamo.nombreArchivo">
          <input type="file" (change)="onArchivoSeleccionado($event, i)" accept="*/*"/>
        </td>

        <td>
          <button title="Eliminar" (click)="eliminarReclamo(i)">🗑️</button>
        </td>
      </tr>

    </tbody>

  </table>
<!-- Asegúrate de que FontAwesome esté cargado, o puedes usar material icons también -->
<button *ngIf="nuevoReclamo?.cod_Estado === '01' || nuevoReclamo?.cod_Estado === undefined" class="buton-cab" mat-raised-button color="primary" (click)="guardar()">
  <ng-container>
    💾 Guardar
  </ng-container>

</button>

<!-- <button class="buton-cab" mat-raised-button color="primary" (click)="recepcionar()">
  <ng-container>
    📩 Recepcionar
  </ng-container>
</button> -->

<div class="boton-derecha">
  <button
    class="buton-cab"
    mat-raised-button
    color="primary"
    (click)="atras()"
  >
    <ng-container>
      ⏪Atrás
    </ng-container>

  </button>
</div>

</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">
    <p style="color: white; text-align: center; ">Cargando... </p>
</ngx-spinner>

