.registro-container {
  border: 1px solid #d0d0ff;
  padding: 10px;
  border-radius: 12px;
  background: linear-gradient(to bottom, #fefefe, #f3f6ff);
  max-width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  background-color: #3f51b5;
  color: #ffffff;
  padding: 10px 14px;
  text-align: center;
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid #2c3e95;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

h3 {
  color: #062d57c7; /* azul estilo Bootstrap */
  font-weight: bold;
}

.acciones-finales {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.defecto-btn {
  background: #f44336;
  color: white;
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 20px;
  cursor: pointer;
  text-transform: lowercase;
}