<!--DefectosAlamacenDerivados--> 
<div class="container"> 
    <!-- ventana nro 4 - historial --> 
    <div class="grid-container"> 
 
        <div class="title">Detalles de imagen</div>

        <form class="container-cuerpo">
     
  
            <!-- hora	tipo	num_guia	cod_proveedor	des_proveedor	cod_usuario -->
            <div class="container-cuerpo-fila1">

                
            </div>

            <div class="container-cuerpo-foot">

                <button type="button" class="button-close" style="display: none;" mat-dialog-close > </button>

                <button type="button" class="button-agregar" mat-flat-button>
                    <mat-icon aria-label="person" >save
                    </mat-icon>  Guardar 
                </button>

                <button type="button" class="button-cancelar" mat-button mat-dialog-close mat-flat-button>
                    <mat-icon aria-label="person">highlight_off
                    </mat-icon>  Cancelar
                </button>        
            </div>

        </form>
 
    </div>
 
</div>