.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    //background-color: blue;
    padding: 5px 5px 5px 5px;
    font-family: corbel, arial;
    font-size: 15px;
    margin: 0;
}

.grid-container {
    border-radius: 4px;
    width: 100%;
    height: auto; //93%;
    //background-color: green;
    border: 1px solid #337ab7;
    margin: 0;
    padding: 0px 0px 0px 0px;
    //padding-bottom: 10px;
    min-width: 350px;
    min-height: 400px;
    //height: 640px;
    height: 86vh;
    //position: absolute;
}

.title {
    background-color: #3f51b5;
    color: white;
    padding: 8px 10px 10px 10px;
    text-align: center;
    //border-bottom: 1px solid #337AB7;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #337ab7;
    font-weight: bold;
}

.container-cuerpo {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 0;
    justify-content: end;
}

.container-cuerpo {
    display: grid;

    grid-template:
        "fila1" 90px
        "fila2" 614px
        "foot" 400px/99%;
}

.container-cuerpo-fila1 {
    grid-area: fila1;
    margin-top: 15px;
}
.container-cuerpo-fila2 {
    grid-area: fila2;
    overflow: auto;
    margin-bottom: 10px;
    height: 71vh;
}
.container-cuerpo-foot {
    grid-area: foot;
    height: 5vh;
}

.container-cuerpo-fila1 {
    display: grid;
    grid-template:
        "col1 col1 col2 col2"       90px
        "col3 col3 col4 col4"       90px
        "col5 col6 col7 col8"       90px
        "col9 col10 col11 col12"    90px
        "col13 col14 col15 col16"   90px
        "col16 col16 col17 col17"   90px
        "col18 col18 col18 col18"   90px/140px 180px;
}



//  .fila1-fecha {
//      grid-area: col1;
//  }


// .fila1-codmaquina {
//     grid-area: col2;


// }

// .fila1-tarea {
//     grid-area: col3;
// }

// .fila1-ot {
//     grid-area: col4;
// }

// .fila1-fechai {
//     grid-area: col5;
// }

// .fila1-horai {
//     grid-area: col6;
// }

// .fila1-fechaf {
//     grid-area: col7;
// }

// .fila1-horaf {
//     grid-area: col8;
// }

// .fila1-especialidad {
//     grid-area: col9;
//   }

//   .fila1-area {
//     grid-area: col10;
//   }

//   .fila1-tipofalla {
//     grid-area: col11;
//   }


//   .fila1-articulo {
//     grid-area: col12;
//   }

  
//   .fila1-minmax {
//     grid-area: col13;
//   }


//   .fila1-condicion {
//     grid-area: col14;
//   }

  
//   .fila1-paromaquina {
//     grid-area: col15;
//   }


//   .fila1-dni {
//     grid-area: col16;
//   }

//   .fila1-nomtej {
//     grid-area: col17;
//   }

  
//   .fila1-obs {
//     grid-area: col18;
//     width: auto;
// }





//fila foot
.container-cuerpo-foot {
    border-top: 1px solid #337ab7;
    justify-content: center;
    display: grid;

    grid-template:
        "fcol1 fcol2" auto/170px 180px;
}




.mat-column-nAuditoria,
.mat-column-Fecha,
.mat-column-Auditor,
.mat-column-Cliente,
.mat-column-Estilo,
.mat-column-Color,
.mat-column-Cant,
.mat-column-Total,
.mat-column-Especiales,
.mat-column-modificar,
.mat-column-detalle {
	text-align: center;
	font-size: 13px;
    font-family: arial;
    padding: 10px;
}

.mat-column-nAuditoria {width: 30px !important;text-align: center}
.mat-column-Fecha {width: 30px !important;text-align: center}
.mat-column-Auditor {width: 30px !important;text-align: center}
.mat-column-Cliente {width: 50px !important;text-align: center}
.mat-column-Estilo {width: 100px !important;text-align: center}
.mat-column-Color {width: 80px !important;text-align: center}
.mat-column-Total {width: 80px !important;text-align: center}
.mat-column-Especiales {width: 80px !important;text-align: center}
.mat-column-Cant {width: 80px !important;text-align: center;}
.mat-column-modificar {width: 30px !important;text-align: center}
.mat-column-detalle {width: 30px !important;text-align: center}
.mat-header-cell {text-align: center; }

/* ------------------------- */
/* TABLA */
/* ------------------------- */
.mat-header-cell {
    text-align: center;
    padding: 15px;
    width: 10px;

}
th.mat-header-cell:last-of-type{
    padding-right: 12px;
}

.mat-elevation-z8 {
    width: 100%;
	font-family: arial;
	font-size: 10px;

}
th.mat-cell{
    padding:15px;
    text-align: center;
}
td.mat-cell{
    padding:15px;
    text-align: center;
}
tr:hover {
    border-color: currentColor;
    background: #E1E1E1;
}

tr:active {
    background: #efefef;
}

.sub-container-cuerpo2 {

    display: flex;
    justify-content: center;
    align-items: start;
    width: 70vw;
    /* height: 2rem; */
    z-index: 999999;
    margin-top: -15rem;
    padding: 3rem;
}

.container-cuerpo-foot .button-agregar,
.button-cancelar {
    height: 10%;
    margin: 0 auto;
    margin: 15px 10px 10px 10px;
    min-height: 42px;
    max-width: 300px;
    min-width: 120px;
}



.container-cuerpo-foot .button-agregar,
.button-agregar {
    height: 10%;
    margin: 0 auto;
    margin: 15px 10px 10px 10px;
    min-height: 42px;
    max-width: 300px;
    min-width: 120px;
}



.button-agregar {
    grid-area: fcol1;
    background-color: #3f51b5;
    color: #ffffff;
}

.button-cancelar {
    grid-area: fcol2;
    background-color: #d32f2f;
    color: #ffffff;
}

mat-form-field {
    width: 100%;
    padding: 0px 1px;

}

::ng-deep .my-class .mat-dialog-container {
    padding: 5px;
    height: auto;
  }











@media screen and (max-width: 600px){
    .grid-container{
        height: 100vh; /* mejor que usar 750px fijos */
        overflow: auto; /* si algo se desborda, permite scroll */
    }

    .container-cuerpo {
        display: grid;
        height: 100%; /* ocupa el 100% de su contenedor padre */
        grid-template:
          "fila1" auto / 85%;
   }


    .container-cuerpo-fila1 {
        display: grid;
        grid-template:
            "col1 col2" 55px
            "col3 col4" 55px
            "col6 col7" 55px
            "col8 col8" 55px
            "col10 col9" 55px
            "col13 col12" 55px
            // " col11" 55px
            "col14 col15" 55px
            "col16 col17" 55px
            "col18 col18" auto //cambiamos de 55px a Auto para que cuando se oculte quite el espacio tambien
            "col19 col19" 55px
            ". ." 55px  //Espacio Vacio
            "col20 col20" auto;
            
        width: 70vw;
        margin-left: 19rem;
    }

    .fila1-ot {
        grid-area: col1;
        width: 130px;
    }

    .fila1-especialidad {
        grid-area: col2;
        width: 170px;
    }

   
    .fila1-dni {
        grid-area: col3;
        width: 130px;
    }

    .fila1-nomtej {
        grid-area: col4;
        width: 170px;
    }

    .fila1-fecha {
        grid-area: col5;
        width: 130px;
    }

    
    .fila1-area {
        grid-area: col6;
        width: 130px;
    }

    .fila1-tarea {
        grid-area: col8;
        width: 320px;
    }



    .fila1-codmaquina {
        grid-area: col7;
        width: 170px;
    }


    .fila1-tipofalla {
        grid-area: col9;
        width: 170px;
    }

    .fila1-articulo {
        grid-area: col10;
        width: 130px;
    }

    .fila1-minmax {
        grid-area: col11;
        width: 130px;
        align-content: center;
    }

    .fila1-condicion {
        grid-area: col12;
        width: 170px;
    }

    .fila1-paromaquina {
        grid-area: col13;
        width: 130px;
    }


    .fila1-fechai {
        grid-area: col14;
        width: 130px;
    }


    .fila1-horai {
        grid-area: col15;
        width: 170px;
    }


    .fila1-fechaf {
        grid-area: col16;
        width: 130px;
    }

    .fila1-horaf {
        grid-area: col17;
        width: 170px;
    }

    .fila1-tipoAtribuido {
        grid-area: col18;
        width: 320px; 
    }

    .fila1-obs {
        grid-area: col19;
        width: 320px;
    }

    .fila1-obs2 {
        grid-area: col20;
        width: 320px;        
    }


        // .container-cuerpo-foot {
        
    //     justify-content: center;
    //     display: grid;
    //     grid-template: "fcol1 fcol2" 5px/143px 5px;
    //     margin-left: -25rem;

    // }



  }