    <mat-card class="form-container">
    <form #formResolvedor="ngForm" >

        <!-- Fecha y Hora -->
        <div class="form-section">
        <div class="fecha-hora-row">
            <mat-form-field appearance="fill">
            <mat-label>Fecha de Observación</mat-label>
            <input matInput [(ngModel)]="formData.fechaObservacion" name="fechaObservacion" readonly>
            </mat-form-field>
        </div>
        </div>

        <!-- Descripción -->
        <div class="form-section">
        <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea matInput rows="3" [(ngModel)]="formData.descripcion" name="descripcion" readonly></textarea>
        </mat-form-field>
        </div>

        <!-- Estado y Calificación de Riesgo -->
        <div class="form-section">
        <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <input matInput [(ngModel)]="formData.estado" name="estado" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nivel de Riesgo</mat-label>
            <input matInput [(ngModel)]="formData.riesgo" name="riesgo" readonly>
        </mat-form-field>
        </div>

        <!-- Acción Correctiva -->
        <div class="form-section">
        <mat-form-field appearance="fill">
            <mat-label>Acción Correctiva</mat-label>
            <input matInput [(ngModel)]="formData.accionCorrectiva" name="accionCorrectiva" readonly>
        </mat-form-field>
        </div>

        <!-- Ubicación, Reportado Por, Responsable, Área -->
        <div class="form-section">
        <mat-form-field appearance="fill">
            <mat-label>Ubicación</mat-label>
            <input matInput [(ngModel)]="formData.ubicacion" name="ubicacion" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Reportado Por</mat-label>
            <input matInput [(ngModel)]="formData.reportadoPor" name="reportadoPor" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Responsable</mat-label>
            <input matInput [(ngModel)]="formData.responsable" name="responsable" readonly>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Área</mat-label>
            <input matInput [(ngModel)]="formData.area" name="area" readonly>
        </mat-form-field>
        </div>

        
        <div class="mini-gallery">
        <img *ngFor="let img of imagenesAdjuntasPreCargadas" 
            [src]="img.base64ParaVistaPreCargada" 
            [alt]="img.nombrePreCargada" 
            class="mini-image" />
        </div>
        
        <!-- Aceptar -->
        <div class="form-section">
        <div class="section-title">Aceptar</div>
        <mat-radio-group [(ngModel)]="formDataPatch.rep_Aceptado" name="aceptar" (change)="onAceptarChange($event)">
            <mat-radio-button value="1" style="margin-right: 15px;">Sí</mat-radio-button>
            <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
        </div>

        <!-- Responsable -->
        <mat-form-field appearance="fill">
            <mat-label>Responsable</mat-label>
            <mat-select [(ngModel)]="formDataPatch.rep_Resp_Levantamiento" 
                        name="responsableLevantamiento"
                        [disabled]="formDataPatch.rep_Aceptado !== '0'">
            <mat-option *ngFor="let responsable of responsables" [value]="responsable.resp_Id.toString()">{{ responsable.resp_Nom }}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Acción Correctiva Tomada y Fecha de Levantamiento -->
        <div class="form-section">
        <mat-form-field appearance="fill">
            <mat-label>Acción Correctiva Tomada</mat-label>
            <input matInput [(ngModel)]="formDataPatch.rep_AccCor_Tom" name="accionTomada">
        </mat-form-field>

        <div class="fecha-hora-row">
            <mat-form-field appearance="fill">
            <mat-label>Fecha de levantamiento</mat-label>
            <input matInput
                    [matDatepicker]="picker"
                    (click)="picker.open()"
                    [(ngModel)]="formDataPatch.rep_FecSub"
                    name="fechaLevantamiento" readonly>
            <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        </div>
        
        <!-- Botones finales -->
        <div class="action-buttons">
        <button mat-raised-button color="primary" (click)="onGuardar()" [disabled]="formResolvedor.invalid">Guardar</button>
        <button mat-button color="warn" (click)="onCancelar()">Cancelar</button>
        </div>

    </form>
    </mat-card>
