<div class="container-fluid">
    <div class="grid-container">
        <div class="title">Consulta Vales</div>

        <div class="find">
            <mat-card class="list-form">
                <mat-card-header>
                    <mat-card-subtitle>Colaborador</mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content>
                    <div>
                        <mat-form-field class="example-width-20" appearance="outline" *ngIf="ll_super">
                            <mat-label>Tipo</mat-label>
                            <mat-select [(ngModel)]="ln_tipo">
                                <mat-option *ngFor="let item of dataTipo" [value]="item.tipo">
                                    {{ item.des_tipo }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-width-20" appearance="outline" *ngIf="ll_super">
                            <mat-label>Estado</mat-label>
                            <mat-select [(ngModel)]="lc_estado">
                                <mat-option *ngFor="let item of dataEstado" [value]="item.estado">
                                    {{ item.des_estado }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>Año</mat-label>
                        <input matInput type="number" maxlength="4" [(ngModel)]="ln_numAno" placeholder="Año" autocomplete="off">
                        </mat-form-field>

                        <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>N° Documento</mat-label>
                        <input matInput type="text" maxlength="9"
                            (blur)="onBuscarVale()" [(ngModel)]="lc_numDoc" placeholder="Documento Identidad" autocomplete="off">
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="limpiarValor()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>

                        <button mat-button type="button" color="primary" (click)="onBuscarVale()"><mat-icon>search</mat-icon>Buscar</button>
                        <button mat-button type="button" color="primary" (click)="onExportarRegistro()" *ngIf="ll_super"><mat-icon>file_download</mat-icon>Descargar</button>
                    </div>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="col-md-12 tabla">
                        <table mat-table [dataSource]='dataSource' class="mat-elevation-z8">
                            <ng-container matColumnDef="c_nume_dni">
                                <th mat-header-cell *matHeaderCellDef> N° Documento </th>
                                <td mat-cell *matCellDef="let element"> {{ element.c_nume_dni }} </td>
                            </ng-container>

                            <ng-container matColumnDef="c_nomb_trab">
                               <th mat-header-cell *matHeaderCellDef> Nombre Trabajador </th>
                                <td mat-cell *matCellDef="let element"> {{ element.c_nomb_trab }} </td>
                            </ng-container>

                            <ng-container matColumnDef="c_peri_plan">
                                <th mat-header-cell *matHeaderCellDef> Periodo </th>
                                <td mat-cell *matCellDef="let element"> {{ element.c_peri_plan }} </td>
                            </ng-container>

                            <ng-container matColumnDef="c_nume_refe">
                                <th mat-header-cell *matHeaderCellDef> Referencia </th>
                                <td mat-cell *matCellDef="let element"> {{ element.c_nume_refe }} </td>
                            </ng-container>

                            <ng-container matColumnDef="n_impo_plan">
                                <th mat-header-cell *matHeaderCellDef> Importe </th>
                                <td mat-cell *matCellDef="let element"> {{ element.n_impo_plan }} </td>
                            </ng-container>

                            <ng-container matColumnDef="c_esta_regi">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element"> {{ element.c_esta_regi }} </td>
                            </ng-container>

                            <ng-container matColumnDef="moc_numdocrf1">
                                <th mat-header-cell *matHeaderCellDef> Documento Canje </th>
                                <td mat-cell *matCellDef="let element"> {{ element.moc_numdocrf1 }} </td>
                            </ng-container>

                            <ng-container matColumnDef="moc_fechdocu">
                                <th mat-header-cell *matHeaderCellDef> Fecha Canje </th>
                                <td mat-cell *matCellDef="let element"> {{ element.moc_fechdocu | date: 'dd-MM-yyyy' }} </td>
                            </ng-container>

                            <ng-container matColumnDef="n_sald_cuen">
                                <th mat-header-cell *matHeaderCellDef> Saldo </th>
                                <td mat-cell *matCellDef="let element"> {{ element.n_sald_cuen }} </td>
                            </ng-container>

                            <ng-container matColumnDef="canje">
                                <th mat-header-cell *matHeaderCellDef> Lugar </th>
                                <td mat-cell *matCellDef="let element"> {{ element.canje }} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator #paginatorData [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">  
    <p style="color: white; text-align: center; " >Cargando... </p>  
</ngx-spinner> 