<div class="container-fluid">
    <div class="grid-container">
        <div class="title">Consulta PO Gestion</div>

        <div class="find">
            <mat-card class="list-form">
                <mat-card-header>
                    <mat-card-subtitle>Filtros</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <div>
                        <!-- ================================================= -->
                        <!-- FILTRO EMPLEADO -->
                        <!-- ================================================= -->
                        <mat-form-field class="example-form-field" appearance="fill">

                            <mat-label>Empleado</mat-label>

                            <mat-select [(ngModel)]="empleadoSeleccionado">

                                <!-- Todos -->
                                <mat-option value="null">
                                    Todos
                                </mat-option>

                                <!-- Lista de empleados -->
                                <mat-option *ngFor="let empleado of listaEmpleados" [value]="empleado.Empleado">

                                    {{ empleado.NombreCompleto }}

                                </mat-option>

                            </mat-select>

                            <button matSuffix mat-icon-button type="button" aria-label="Limpiar empleado"
                                (click)="limpiarEmpleado(); $event.stopPropagation()">

                                <mat-icon>close</mat-icon>

                            </button>

                        </mat-form-field>

                        <!-- FILTRO RANGO DE FECHAS -->
                        <mat-form-field class="example-form-field" appearance="fill">

                            <mat-label>Rango de fechas</mat-label>

                            <mat-date-range-input [rangePicker]="pickerFechas">

                                <input matStartDate placeholder="Desde" [(ngModel)]="fechaDesde">

                                <input matEndDate placeholder="Hasta" [(ngModel)]="fechaHasta">

                            </mat-date-range-input>

                            <mat-datepicker-toggle matSuffix [for]="pickerFechas">
                            </mat-datepicker-toggle>

                            <mat-date-range-picker #pickerFechas>
                            </mat-date-range-picker>

                            <button matSuffix mat-icon-button type="button" aria-label="Limpiar fechas"
                                (click)="limpiarFechas(); $event.stopPropagation()">

                                <mat-icon>close</mat-icon>

                            </button>

                        </mat-form-field>


                        <!-- BOTÓN BUSCAR -->

                        <button mat-button type="button" color="primary"
                            (click)="onListaOPContratos()"><mat-icon>search</mat-icon>Buscar</button>
                        <button mat-button type="button" color="primary"
                            (click)="onExportarRegistro()"><mat-icon>file_download</mat-icon>Descargar</button>
                    </div>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="col-md-12 tabla">
                        <table mat-table [dataSource]='dataSource' class="mat-elevation-z8">
                            <ng-container matColumnDef="ID">
                                <th mat-header-cell *matHeaderCellDef> #ID </th>
                                <td mat-cell *matCellDef="let element"> {{ element.ID }} </td>
                            </ng-container>

                            <ng-container matColumnDef="NumeroOp">
                                <th mat-header-cell *matHeaderCellDef> Numero PO </th>
                                <td mat-cell *matCellDef="let element"> {{ element.NumeroOp }} </td>
                            </ng-container>

                            <ng-container matColumnDef="Cliente_desc">
                                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                                <td mat-cell *matCellDef="let element"> {{ element.Cliente_desc }} </td>
                            </ng-container>

                            <ng-container matColumnDef="Empleado">
                                <th mat-header-cell *matHeaderCellDef> Código Empleado </th>
                                <td mat-cell *matCellDef="let element"> {{ element.Empleado }} </td>
                            </ng-container>

                            <ng-container matColumnDef="NombreCompleto">
                                <th mat-header-cell *matHeaderCellDef> Nombre Empleado </th>
                                <td mat-cell *matCellDef="let element"> {{ element.NombreCompleto }} </td>
                            </ng-container>

                            <ng-container matColumnDef="TemCli_nomb">
                                <th mat-header-cell *matHeaderCellDef> Temporada </th>
                                <td mat-cell *matCellDef="let element"> {{ element.TemCli_nomb }} </td>
                            </ng-container>

                            <ng-container matColumnDef="cantidad">
                                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                                <td mat-cell *matCellDef="let element"> {{ element.cantidad }} </td>
                            </ng-container>

                            <ng-container matColumnDef="fechaDespacho">
                                <th mat-header-cell *matHeaderCellDef> Fecha Despacho </th>
                                <td mat-cell *matCellDef="let element"> {{ element.fechaDespacho }} </td>
                            </ng-container>

                            <ng-container matColumnDef="fechaEmision">
                                <th mat-header-cell *matHeaderCellDef> Fecha Emision </th>
                                <td mat-cell *matCellDef="let element"> {{ element.fechaEmision }} </td>
                            </ng-container>

                            <ng-container matColumnDef="cod_cliente">
                                <th mat-header-cell *matHeaderCellDef> Codigo Cliente </th>
                                <td mat-cell *matCellDef="let element"> {{ element.cod_cliente }} </td>
                            </ng-container>

                            <ng-container matColumnDef="cod_temcli">
                                <th mat-header-cell *matHeaderCellDef> Codigo TemCli </th>
                                <td mat-cell *matCellDef="let element"> {{ element.cod_temcli }} </td>
                            </ng-container>

                            <ng-container matColumnDef="Ruta">
                                <th mat-header-cell *matHeaderCellDef> Ruta </th>
                                <td mat-cell *matCellDef="let element"> {{ element.Ruta }} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator #paginatorData [pageSizeOptions]="[10, 15, 20]"
                            showFirstLastButtons></mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">
    <p style="color: white; text-align: center; ">Cargando... </p>
</ngx-spinner>