<section>
  <p>Seleccione una Opción</p>
  <div class="button-column">
    <button mat-flat-button [routerLink]="['/FormPermisos']"  mat-dialog-close   class="anchobotones" color="primary"><mat-icon>open_in_new</mat-icon>PERMISOS</button>
    
    <button mat-flat-button [routerLink]="['/FormPermisoDia']"  mat-dialog-close   class="anchobotones" color="primary"><mat-icon>open_in_new</mat-icon>PERMISO POR DIA</button>
    <button mat-flat-button [routerLink]="['/FormComisiones']"  mat-dialog-close   class="anchobotones" color="primary"><mat-icon>open_in_new</mat-icon>COMISION</button>
    <button mat-flat-button [routerLink]="['/FormRefrigerio']"  mat-dialog-close   class="anchobotones" color="primary"><mat-icon>open_in_new</mat-icon>REFRIGERIO</button>
    <button mat-flat-button mat-dialog-close class="anchobotones" color="warn"><mat-icon>home</mat-icon> CANCELAR </button>
  </div>
</section>
