.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    //background-color: rgb(60, 255, 0);
    padding: 5px 5px 5px 5px;
    font-family: corbel, arial;
    font-size: 16px;
    margin: 0;
}

.grid-container {
    border-radius: 4px;
    width: 100%;
    height: 93%;
    //background-color: green;
    border: 1px solid #337ab7;
    margin: 0;
    padding: 0;
    //position: absolute;
    min-width: 320px;
}

.button-cancelar{
    width: 100%;
    background-color:  #d32f2f;
    margin-left: 10px;
    margin-top: 5px;
}

button {
    height: 37px;
    font-size: 14px;
}
mat-form-field {
    width: 100%;
    padding: 0px 20px 10px 0px;
}

mat-checkbox {
    padding: 0px 20px 10px 0px;
}

.button_buscar {
    width: 100%;
    background-color: #337ab7;
    margin-top: 5px;
}

.button_agregar {
    width: 100%;
    background-color: #0e740e;
    margin-top: 5px;
}

.find,
.main,
.footer {
    margin: 5px 5px 0px 5px;
}

.title {
    background-color: #337ab7;
    color: #fcffff;
    padding: 8px 0px 10px 0px;
    text-align: center;
}

.find {
    //border: 1px solid #bbd2e6;
    padding: 0px 15px;
    border-width: 0px 0px 1px 0px;

    width: 100%;
    margin: 0%;
    //padding: 0px 5px 5px 5px;    
}
.main {
    border: 1px solid #bbd2e6;
    border-width: 0px 0px 1px 0px;
    padding-bottom: 5px;
}
.footer {
    text-align: left;
}

/* ------------------------- */
/* TABLA */
/* ------------------------- */

.tabla_cabecera {
    width: 100%;
}

tr:hover {
    border-color: currentColor;
    background: whitesmoke;
}

tr:active {
    background: #efefef;
}

/* ------------------------- */
/* RESPONSIVE */
/* ------------------------- */


.title {
    grid-area: title;
}
.find {
    grid-area: find;
}
.main {
    grid-area: main;
}

.auditoriaForm {
    padding-bottom: 8px;
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.findcol1 {
    width: 24%; 
    margin-right: 8px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: Arial;
    padding-top: 10px;
}
.botones {
    width: 40%;
    margin-right: 8px;
    display: flex;
}
.findcol2{
    width: 48%;
    margin-right: 8px;
}
.findcol3 {
    width: 48%;
    margin-right: 8px;
}
.findcol4 {
    width: 25%; 
    margin-right: 8px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: Arial;
    padding-top: 10px;
}
.caja{
    width: 100%;
}
.caja-data{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.caja-data-2{
    width: 40%;
    display: flex;
}
.example-card{
    margin-right: 5px;
}
.caja-content{
    display: flex;
}

.container-cuerpo-fila5{
    margin-top: 20px;
    overflow-x: scroll;
}
table{
    width: 100%;

}

@media only screen and (max-width: 800px) {
    .auditoriaForm {
        padding-bottom: 8px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .findcol1{
        width: 100%;
    }
    .mat-column-Fec_Permiso,
    .mat-column-Nom_Trabajador,
    .mat-column-Inicio,
    .mat-column-Termino,
    .mat-column-Inicio_Lectura,
    .mat-column-Termino_Lectura,
    .mat-column-Tipo_Lectura,
    .mat-column-Sede
    {
        text-align: center;
        font-size: 10px;
        font-family: arial;
        padding: 5px;
        text-align: center
    }


    .botones{
        width: 100%;
        display: flex;
    }
    .findcol3{
        width: 48%;
    }
    .findcol4{
        text-align: center;
        width: 100%;
    }

    .caja-content{
        display: flex;
        flex-direction: column;
        font-size: 10px;    
    }

    .caja-data{
        width: 100%;
     
    }
    .caja-data-2{
        width: 100%;
        display: flex;
    }
    .example-card{
        width: 49%;
    }
    mat-form-field{
        padding: 0px;
    }
    .mat-form-field-wrapper {
        padding-bottom: 0.8em;
    }
    mat-card-title{
        font-size: 17px;
    }
    mat-card-content{
        font-size: 10px;
    }

    .container-cuerpo-fila5{
        margin-top: 20px;
        overflow-x: scroll;
    }

    table{
        width: 100%;
        overflow-x: scroll;
    }
    tbody tr td{
        font-size: 10px;
    }

    th.mat-cell{
        width: 100px;
        min-width: 103px;
    }
    td.mat-cell{
        width: 100px;
        min-width: 103px;
    }
}