<div class="container">
  <form class="container-cuerpo" [formGroup]="formulario" #formDirective="ngForm">
    
    <div class="form-row">
      <mat-form-field class="full-width">
        <mat-label>N° Precinto Cierre</mat-label>
        <input matInput formControlName="ctrol_pre_cier" pattern="[0-9]*">
        <mat-error *ngIf="formulario.get('ctrol_pre_cier').hasError('pattern')">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="button-row">
      <button mat-flat-button color="primary" class="form-button" (click)="onSave()">
        <mat-icon>save</mat-icon> Grabar
      </button>

      <button mat-flat-button color="warn" mat-dialog-close class="form-button">
        <mat-icon>close</mat-icon> Salir
      </button>
    </div>

  </form>
</div>
