<div class="container">

    <h2 mat-dialog-title>🛠️ Solicitud de Mantenimiento</h2>

<mat-dialog-content class="dialog-content">

  <form [formGroup]="formulario" class="form-grid">

    <mat-form-field  appearance="outline"> 
        <mat-label>Fecha</mat-label> 
        <input matInput formControlName="ctrolFecha"> 
    </mat-form-field>    
    
    <mat-form-field appearance="outline">
      <mat-label>Nombre Supervisor</mat-label>
      <input matInput formControlName="ctrolSupervisor" placeholder="Supervisor">
    </mat-form-field>    

    <mat-form-field appearance="outline">
      <mat-label>Scanear QR</mat-label>
      <input matInput #inputQR formControlName="ctrolQR" placeholder="Scanea tu Código" (keyup.enter)="onScanQR(inputQR.value, $event)">
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Área</mat-label>
      <mat-select formControlName="ctrolArea">
        <mat-option *ngFor="let a of dataAreas" [value]="a">{{a}}</mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field appearance="outline">
      <mat-label>Área</mat-label>
      <input matInput formControlName="ctrolArea" placeholder="Área">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Maquina</mat-label>
      <input matInput formControlName="ctrolMaquina" placeholder="Máquina">
    </mat-form-field>    

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Observación</mat-label>
      <textarea matInput #inputObservacion  formControlName="ctrolObservacion" rows="2"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Prioridad</mat-label>
      <mat-select formControlName="ctrolPrioridad">
        <mat-option value="A">Alta</mat-option>
        <mat-option value="M">Media</mat-option>
        <mat-option value="B">Baja</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Paro Máquina</mat-label>
      <mat-select formControlName="ctrolParoMaquina">
            <mat-option [value]="1">Sí</mat-option>
            <mat-option [value]="0">No</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Fotografía (URL / archivo)</mat-label>
      <input matInput formControlName="ctrolFotografia" placeholder="Ruta o archivo">
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" class="full-width">
    <mat-label>Archivo</mat-label>
    <input matInput [value]="fileName" readonly formControlName="ctrolFotografia"   />
    <button mat-icon-button matSuffix (click)="fileInput.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
    </mat-form-field>
    <input type="file" hidden #fileInput (change)="onFileSelected($event)" />  -->


    <mat-form-field appearance="outline">
      <mat-label>Hora Inicio</mat-label>
      <input matInput type="time" formControlName="ctrolHoraInicio">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Hora Fin</mat-label>
      <input matInput type="time" formControlName="ctrolHoraFin">
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
  <button mat-flat-button color="warn" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>


</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">
    <p style="color: white; text-align: center; ">Cargando... </p>
</ngx-spinner>
