<div class="container">
    <!-- ventana nro 4 - historial -->
    <form class="grid-container" [style]="grid_border" [formGroup]="formulario">

        <div class="title" [style]='background'>PARTICIONAR PAQUETE</div>

        <div class="row">

                <mat-form-field class="fila1-modulo">
                    <mat-label>Modulo</mat-label>
                    <mat-select formControlName="Modulo" (selectionChange)="changeModulo($event)">
                        <mat-option *ngFor="let Modulo of listar_operacionModulo" (click)="clickModule(Modulo)" [value]="Modulo.Cod_Modulo">
                            {{Modulo.Des_Modulo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="fila1-ticket">
                    <mat-label>OP</mat-label>
                    <input matInput type="text" placeholder="OP" value="" autocomplete="off" formControlName="sNumTicket"/>
                </mat-form-field>

                <button mat-flat-button color="primary"  class="fila1-buscar" (click)="listadoTicket()"> <mat-icon>search</mat-icon> Buscar</button>

        </div>
        <hr>
        <div class="row2" style="margin-top: 20px; padding: 5px;">
            <div class="col-md-3" *ngFor="let item of dataPrendasImp">
                <div class="card">
                    <div class="imagen">
                        <img [src]="item.ICONO_WEB" alt="" srcset="" width="100%" height="100">
                    </div>
                    <hr>
                    <div class="data">
                        <p class="titulo-card">OP: {{item.COD_ORDPRO}}</p>
                        <span>{{item.DES_PRESENT}}</span>
                        <span>TALLA: {{item.COD_TALLA}} / CANT: {{item.CANTIDAD}} / {{item.Ticket}}</span>
                        <!--<span style="color: red;">RUTA: {{item.Ruta_Inspeccion}}</span>-->
                    </div>
                    <div class="btn">
                        <button type="button" class="btn-particiona" mat-flat-button color="primary" (click)="touchParticion(item)" [disabled]="item.ticketParticionado == 1">                    
                            <mat-icon aria-label="person">add_to_queue</mat-icon> Particionar
                        </button>
                        <button type="button" class="btn-reimpresona" mat-flat-button (click)="touchTicket(item)" [disabled]="item.ticketParticionado == 0">                    
                            <mat-icon aria-label="person">local_printshop</mat-icon> Reimprimir
                        </button>
                    </div>
                </div>        
            </div>
        </div>

        <div id="print-section" style="position: absolute; left: -999em;">
            <svg  class="barcode" jsbarcode-format="code128"   id="barcode" viewBox="0 0 273 200"></svg>
        </div>
  
    </form>
</div>


<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">
    <p style="color: white; text-align: center; ">Cargando... </p>
</ngx-spinner>