.card {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 8px;
    min-width: 350px;
    min-height: 400px;
    height: 640px; 
}
.card-header {
    background-color: #3f51b5;
    color: #ffffff;
    padding: 8px 10px 10px 10px;
    text-align: center;
    /* border-bottom: 1px solid #337AB7; */
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #337ab7;
    font-family: corbel, arial;
    font-size: 15px;
    font-weight: bold;
}

.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    padding: 5px 5px 5px 5px;
    font-family: corbel, arial;
    font-size: 15px;
    margin: 0;
}

.row {
    margin-left: auto;
    margin-right: auto;
}


.btn_anadirUbi {
    grid-area: col4;
    width: 100%;
    height: 40px;
    max-width: 280px;
    margin: auto;
    margin-top: 3px;
    background-color: #155724;
    color: #ffffff;
    width: 70px; 
}

.formulario {
    margin-top: 10px;
}

/* ------------------------- */
/* TABLA */
/* ------------------------- */

.mat-elevation-z8 {
    width: 100%;
	font-family: arial;
	font-size: 10px;
 
}
.paginador{
    width: auto
}

tr:hover {
    border-color: currentColor;
    background: #E1E1E1;
}
  
tr:active {
    background: #efefef;
}

.mat-column-grupo,
.mat-column-bultos, 
.mat-column-fecReg,
.mat-column-usuario

.mat-column-grupo{
    width: 8px;
}

.mat-column-bultos{
    width: 15px;
}

.mat-column-fecReg{
    width: 15px;
}

.mat-column-usuario{
    width: 15px;
}


.boton-regresar {
    position: fixed;  /* Fija el botón en la pantalla */
    top: 60px;         /* 5 píxeles desde el borde superior de la ventana */
    right: 5px;       /* 5 píxeles desde el borde derecho de la ventana */
    padding: 10px 20px;  /* Espaciado dentro del botón */
    background-color: #007bff; /* Color de fondo del botón */
    color: white;     /* Color del texto */
    border: none;     /* Sin borde */
    border-radius: 70px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    font-size: 16px;  /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor a mano */
    z-index: 1000;    /* Asegura que el botón esté sobre otros elementos */
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
  }

  /* Estilo para cuando el ratón pasa sobre el botón */
.boton-regresar:hover {
    background-color: #0056b3; /* Color de fondo cuando pasa el ratón */
  }