<!--DefectosAlamacenDerivados-->
  
  
<div class="container"> 
    <!-- ventana nro 4 - historial --> 
    <div class="grid-container"> 
 
        <div class="title">Liquidación Avios de Costura</div>

        <form class="container-cuerpo" [formGroup]="formulario">
            <div class="container-cuerpo-fila1"> 

                  <mat-form-field  class="fila1-fecha">
                    <mat-label>Fecha de Movimiento</mat-label>
                    <input matInput [matDatepicker]="fec_despacho" autocomplete="off"  placeholder="Fecha de Movimiento" 
                        formControlName="Fecha_Movimiento" maxlength="10">
                    <mat-datepicker-toggle matSuffix [for]="fec_despacho"></mat-datepicker-toggle>
                    <mat-datepicker #fec_despacho></mat-datepicker>
                    </mat-form-field> 
                      <mat-form-field class="fila1-Sede">
                        <mat-label>Planta</mat-label>
                        <mat-select formControlName="Planta">
                          <mat-option *ngFor="let option of listar_planta" [value]="option.num_planta"  >
                            {{option.des_planta}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
 
                    <mat-form-field class="fila1-Cliente" appearance="fill">
                        <mat-label>Cliente</mat-label>
                        <input matInput type="text" #trigger="matAutocompleteTrigger" placeholder="Cliente"
                            formControlName="NombreCliente" [matAutocomplete]="autoDataCliente" />
                        <mat-autocomplete autoActiveFirstOption #autoDataCliente="matAutocomplete">
                            <mat-option *ngFor="let option of filtroCliente | async" [value]="option.Nom_Cliente"
                                (click)="CambiarValorCliente(option.Cod_Cliente,option.Abr_Cliente)">
                                {{option.Nom_Cliente}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field> 
                <mat-form-field class="fila1-Linea"> 
                    <mat-label>Linea</mat-label>
                    <input matInput type="text"  placeholder="Linea" value=""
                    autocomplete="off" formControlName="Linea" maxlength="3">
                </mat-form-field> 
                <mat-form-field class="fila1-Responsable"> 
                    <mat-label>Responsable</mat-label>
                    <input matInput type="text"  placeholder="Responsable" value=""
                    autocomplete="off" formControlName="Responsable" maxlength="100">
                </mat-form-field> 
                <button type="button" class="fila1-buscar" mat-flat-button (click)="MostrarLiquidacionAvios()">                    
                    <mat-icon aria-label="person">search</mat-icon>Buscar
                </button>
                <button type="button" class="fila1-excel" mat-flat-button
                    (click)="ExportarLiquidacion()">
                    <mat-icon aria-label="create_new_folder">create_new_folder
                    </mat-icon>  Reporte Excel
                </button>
                <button type="button" class="fila1-agregar" mat-flat-button (click)="agregarDialog();">
                <mat-icon aria-label="person">add
                </mat-icon>  Agregar
                </button>
 

            </div>   
 
            <!-- hora	tipo	num_guia	cod_proveedor	des_proveedor	cod_usuario -->
            <div class="container-cuerpo-fila2">
                <table mat-table #table  [dataSource]="dataSource"   class="mat-elevation-z8" >
                    <ng-container matColumnDef="N° LIQ">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Nº LIQUIDACION</th>
                        <td mat-cell  *matCellDef="let data_det"> {{data_det["N° LIQ"]}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="Fecha">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">FECHA</th>
                        <td mat-cell  *matCellDef="let data_det">  {{data_det.Fecha.date| date:'dd/MM/yyyy'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="IdCliente">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">ID CLIENTE</th>
                        <td mat-cell  *matCellDef="let data_det"> {{data_det.IdCliente}}  </td>
                    </ng-container>
                    <ng-container matColumnDef="Cliente">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">CLIENTE</th>
                        <td mat-cell *matCellDef="let data_det">  {{data_det.Cliente}} </td>
                    </ng-container>
                    <ng-container matColumnDef="area_liquida">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">AREA</th>
                         <td mat-cell *matCellDef="let data_det"> {{data_det.area_liquida}} </td>               
                    </ng-container>
                    <ng-container matColumnDef="linea_liquida">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">LINEA</th>
                         <td mat-cell *matCellDef="let data_det"> {{data_det.Linea}} </td>
                    </ng-container>
                    <ng-container matColumnDef="idliquida">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">ID LIQUIDACION</th>
                         <td mat-cell *matCellDef="let data_det"> {{data_det.idliquida}} </td>
                    </ng-container>
                    <ng-container matColumnDef="resp_liquida">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">RESPONSABLE</th>
                         <td mat-cell *matCellDef="let data_det"> {{data_det.resp_liquida}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="idplanta">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">ID PLANTA</th>
                         <td mat-cell *matCellDef="let data_det"> {{data_det.idplanta}} </td>
                    </ng-container>
                    <ng-container matColumnDef="des_planta">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">PLANTA</th>
                         <td mat-cell *matCellDef="let data_det"> {{data_det.des_planta}} </td>
                    </ng-container>                                 
                  
                    <ng-container matColumnDef="cerrar_liquida">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">ESTADO</th>
                        <td mat-cell *matCellDef="let data_det" >    
                            <span *ngIf="data_det.cerrar_liquida == '0';" style="padding:8px;background-color:green; color:white;">Activo</span>
                            <span *ngIf="data_det.cerrar_liquida == '1';" style="padding:8px;background-color:red; color:white;">Cerrado</span>
                    </td> 
                    </ng-container>                    
                    <ng-container matColumnDef="reportes"  class="columna-acciones">
                        <th mat-header-cell *matHeaderCellDef>REPORTES</th>
                        <td mat-cell *matCellDef="let data_det">  
                            <a mat-icon-button *ngIf="data_det.total_detalle > 0;"
                            (click)="ImprimirVoucher(data_det.idliquida, data_det.resp_liquida)">
                            <mat-icon style="color: green" matTooltip="Imprimir Voucher">description</mat-icon>
                            </a> 
                            <a mat-icon-button *ngIf="data_det.total_detalle > 0;"
                            (click)="ImprimirRotulado(data_det.idliquida,  data_det.Cliente)">
                            <mat-icon  style="color: green" matTooltip="Imprimir Rotulado">description</mat-icon>
                            </a> 
                        </td>
                    </ng-container> 
                    <ng-container matColumnDef="Acciones" class="columna-acciones">
                        <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                        <td mat-cell *matCellDef="let data_det" >
                            <a mat-icon-button style="margin-right:5px;"  
                                (click)="openDialogDetalle(data_det['N° LIQ'], data_det.cerrar_liquida, data_det.idliquida)">
                                <mat-icon color="primary" matTooltip="Ver Detalle de Liquidación">assignment</mat-icon>
                            </a>
                            <a mat-icon-button style="margin-right:5px;" *ngIf="data_det.cerrar_liquida == '0';" 
                                (click)="ModificarLiquidacionCabecera(data_det.idliquida, data_det['N° LIQ'], data_det.Fecha.date, data_det.area_liquida, data_det.Linea, data_det.IdCliente, data_det.Cliente, data_det.resp_liquid, data_det.idplanta, data_det.Cliente)">
                                <mat-icon color="success" matTooltip="Modificar Liquidación">create</mat-icon>
                            </a> 
                            <a mat-icon-button *ngIf="data_det.cerrar_liquida == '0' && data_det.total_detalle == '0';" 
                                (click)="EliminarLiquidacionCabecera(data_det.idliquida, data_det['N° LIQ'],data_det.idplanta)">
                                <mat-icon color="warn" matTooltip="Eliminar Liquidación">delete</mat-icon>
                            </a> 
                            <a mat-icon-button  
                            (click)="CerrarLiquidacionCabecera(data_det.idliquida)">
                            <mat-icon color="warn" matTooltip="Cerrar Liquidación">change_circle</mat-icon>
                            </a>                     
                    
                        </td>
                    </ng-container> 
              
                    <tr mat-header-row *matHeaderRowDef="displayedColumns_cab"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns_cab;"></tr>

                </table>
                <div *ngIf="dataSource.data.length === 0" style="text-align: center;">
                    No se encuentran registros
                  </div>
                <mat-paginator  class="paginador" #paginator [pageSizeOptions]="[50, 100, 150]" showFirstLastButtons aria-label="Select page of periodic elements">
                </mat-paginator>

            </div>

        </form>

    </div>
 
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">  
    <p style="color: white; text-align: center; " >Cargando... </p>  
</ngx-spinner>       