    <div class="listado-container">
    <!-- Encabezado -->
    <div class="listado-header">
        <button mat-raised-button color="primary" class="nuevo-btn" (click)="RegistrarNC()">Nuevo</button>
        <button mat-raised-button color="secondary" class="nuevo-btn" (click)="onRedireccionarAreasXSede()">Área x Sede</button>
        <button mat-raised-button color="secondary" class="nuevo-btn" (click)="onRedireccionarResponsable()">Responsables</button>
        <!-- <span class="titulo">Listado de Reportes NC</span> -->
        <!-- <button mat-button class="dashboard-btn">Dashboard</button> -->
    </div>


    <!-- Filtros -->
    <div class="filtro-panel">
    <div class="filtro-panel-div-separar">
    <mat-form-field appearance="fill">
        <mat-label>Sede</mat-label>
        <mat-select [(ngModel)]="formDataBuscar.num_Planta" (selectionChange)="onSedeSeleccionada($event.value)">
        <mat-option value="0">Todas</mat-option>
        <mat-option *ngFor="let s of sedes" [value]="s.num_Planta">{{ s.des_Planta }}</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <div class="filtro-panel-div-separar">
    <mat-form-field appearance="fill">
        <mat-label>Área</mat-label>
        <mat-select [(ngModel)]="formDataBuscar.are_Id">
        <mat-option value="0">Todas</mat-option>
        <mat-option *ngFor="let a of areas" [value]="a.are_Id">{{ a.are_Des }}</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <div class="filtro-panel-div-separar">
    <mat-form-field appearance="fill">
        <mat-label>Responsable</mat-label>
        <mat-select [(ngModel)]="formDataBuscar.resp_Id">
        <mat-option value="0">Todos</mat-option>
        <mat-option *ngFor="let r of responsables" [value]="r.resp_Id">{{ r.resp_Nom }}</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <div class="filtro-panel-div-separar">
    <mat-form-field appearance="fill">
        <mat-label>Criticidad</mat-label>
        <mat-select [(ngModel)]="formDataBuscar.niv_Rgo_Id">
        <mat-option value="0">Todas</mat-option>
        <mat-option *ngFor="let c of criticidades" [value]="c.niv_Rgo_Id">{{c.niv_Rgo_Des}}</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <div class="filtro-panel-div-separar">
    <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select [(ngModel)]="formDataBuscar.est_Id">
        <mat-option value="0">Todos</mat-option>
        <mat-option *ngFor="let e of estados" [value]="e.est_Id">{{ e.est_Des }}</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    </div>

    <div>
    <div class="listado-header">
        <button mat-raised-button color="secondary" class="nuevo-btn" (click)="onBuscar()">Buscar</button>
    </div>
    </div>


    <!-- Tabla de reportes -->
    <div class="tabla-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z1" matSort>

        <!-- Identificación -->
        <ng-container matColumnDef="rep_Id">
            <th mat-header-cell *matHeaderCellDef> Identificación </th>
            <td mat-cell *matCellDef="let reporte"> {{ reporte.rep_Id }} </td>
        </ng-container>

        <!-- Reportado Por -->
        <ng-container matColumnDef="rep_RepPor">
            <th mat-header-cell *matHeaderCellDef> Reportado Por </th>
            <td mat-cell *matCellDef="let reporte"> {{ reporte.rep_RepPor }} </td>
        </ng-container>

        <!-- Fecha Observación -->
        <ng-container matColumnDef="rep_FecObs">
            <th mat-header-cell *matHeaderCellDef> Fecha Observación </th>
            <td mat-cell *matCellDef="let reporte"> {{ reporte.rep_FecObs | date:'dd/MM/yyyy' }} </td>
        </ng-container>

        <!-- Responsable -->
        <ng-container matColumnDef="resp_Id">
            <th mat-header-cell *matHeaderCellDef> Responsable </th>
            <td mat-cell *matCellDef="let reporte"> {{ reporte.resp_Nom }} </td>
        </ng-container>

        <!-- Fecha Subsanación -->
        <ng-container matColumnDef="rep_FecSub">
            <th mat-header-cell *matHeaderCellDef> Fecha Subsanación </th>
            <td mat-cell *matCellDef="let reporte"> {{ reporte.rep_FecSub | date:'dd/MM/yyyy' }} </td>
        </ng-container>

        <!-- Estado -->
        <ng-container matColumnDef="rep_Est">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let reporte">
                <!-- *ngIf="reporte.nro_Precinto_Cierre == ''" 
                (click)="onUpdatePrecintoCierre()"-->
            <a mat-button class="Boton" (click)="onRedireccionarRegistroCierre(reporte.rep_Id)"> {{ reporte.est_Des }} </a>
            </td>
        </ng-container>

        <!-- Acción -->
        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let reporte">
            <button mat-icon-button color="primary" (click)="ver(reporte)">
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="editar(reporte)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onAnular(reporte)">
                <mat-icon>delete</mat-icon>
            </button>
            </td>
        </ng-container>

        <!-- Renderizado de columnas -->
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>
        <mat-paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons>
        </mat-paginator>
    </div>
    </div>
