.tiempo-improductivov3-container {
  padding: 2rem;
  background-color: #f9f9fb;
  font-family: 'Segoe UI', sans-serif;
}
    .selector-titulo{
        h3 {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 2rem;
                color: #2c3e50;
            }
    }

   .form-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px; /* espacio entre columnas */
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 20px;

        background: #fafafa;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 8px;        
    }
    .row {
        display: flex;
        width: 100%;
    }

    .row .full-width {
        width: 100%;
    }

    .two-columns {
        display: flex;
        gap: 12px;
        width: 100%;
    }


    .dni-field,
    .codigo-field {
        flex: 0 0 30%;
    }

    .operador-field,
    .motivo-field {
        flex: 1;
    }

    .horaIni-field{
        flex: 0 0 48%;
    }
    .horaFin-field{
        flex: 0 0 50%;
    }

    .btn-action{
        width: 30%;
    }

    .right {
        background: #fafafa;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 8px;
    }    

    /* Tablet vertical → 2 columnas pero más cómodas */
    @media (max-width: 1024px) {
        .form-columns {
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }
    }

    /* Celular → 1 columna */
    @media (max-width: 768px) {
        .form-columns {
            grid-template-columns: 1fr;
        }
    }    

