<div class="container-fluid">
    <!-- ventana nro 4 - historial -->
    <div class="grid-container">
  
      <div class="title">Operatividad Ficha Técnica Muestreo</div>
  
      <form class="container-cuerpo" [formGroup]="formulario">
        <div class="container-cuerpo-fila1">
  
        
  
  
          <mat-form-field class="fila1-fecha" appearance="fill">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="bus_opcion">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="fila1-select" appearance="fill" *ngIf="formulario.get('bus_opcion').value == 'OP'">
            <mat-label>OP</mat-label>
            <input matInput formControlName="bus_factor" placeholder="Ingrese OP" >
          </mat-form-field>

          <mat-form-field class="fila1-select" appearance="fill" *ngIf="formulario.get('bus_opcion').value == 'ES'">
            <mat-label>Estilo</mat-label>
            <input matInput formControlName="bus_factor" placeholder="Ingrese Estilo" >
          </mat-form-field>
  
          <button type="submit" class="fila1-buscar" mat-flat-button (click)="CargarLista()">
            <mat-icon aria-label="person">search</mat-icon>Buscar
          </button>
  
          <!-- <button type="button" class="fila1-excel" mat-flat-button (click)="generateExcel()">
            <mat-icon aria-label="create_new_folder">create_new_folder
            </mat-icon> Reporte Excel
          </button>
  
          <button type="button" class="fila1-observaciones" mat-flat-button (click)="CargarLista()">
            <mat-icon aria-label="person">search</mat-icon>Buscar
          </button> -->
<!--   
          <button type="button" class="fila1-avance" mat-flat-button (click)="verAvances()">
            <mat-icon aria-label="build">build
            </mat-icon> Avance
          </button>
          <button type="button" class="fila1-ratio" mat-flat-button (click)="verRatioConsumo()">
            <mat-icon aria-label="build">build
            </mat-icon> Ratio Consumo
          </button> -->
  
  
        </div>
  
        <!-- hora	tipo	num_guia	cod_proveedor	des_proveedor	cod_usuario -->
        <div class="container-cuerpo-fila2">
          <!--[dataSource]="dataSource"-->
          <table mat-table class="mat-elevation-z8" #table [dataSource]="dataSource">
            <!-- <ng-container matColumnDef="COD_TIPORDTRA">
              <th mat-header-cell *matHeaderCellDef class="mat-header-cell">TIPO</th>
              <td mat-cell *matCellDef="let data_det"> {{data_det.COD_TIPORDTRA}} </td>
            </ng-container> -->
            <ng-container matColumnDef="Codigo">
              <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Codigo</th>
              <td mat-cell *matCellDef="let data_det"> {{data_det.Codigo}} </td>
            </ng-container>

            <ng-container matColumnDef="Descripcion">
              <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Descripcion</th>
              <td mat-cell *matCellDef="let data_det"> {{data_det.Descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="Tipo_de_Prenda">
                <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Tipo de Prenda</th>
                <td mat-cell *matCellDef="let data_det"> {{data_det.Tipo_de_Prenda}} </td>
              </ng-container>
            <ng-container matColumnDef="comentario1">
              <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Comentario</th>
              <td mat-cell *matCellDef="let data_det"> {{data_det.comentario1}} </td>
            </ng-container>
            <ng-container matColumnDef="Grupo">
              <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Grupo Talla</th>
              <td mat-cell *matCellDef="let data_det"> {{data_det.Grupo}} </td>
            </ng-container>
            <ng-container matColumnDef="Est_Cli">
              <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Grupo Tex</th>
              <td mat-cell *matCellDef="let data_det"> {{data_det.Est_Cli }} </td>
            </ng-container>
            <ng-container matColumnDef="Grado_Dificultad">
              <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Grado Dificultad</th>
              <td mat-cell *matCellDef="let data_det"> {{data_det.Grado_Dificultad }} </td>
            </ng-container>
            <ng-container matColumnDef="Acciones">
              <th mat-header-cell *matHeaderCellDef class="mat-header-cell">ACCIONES</th>
              <td mat-cell *matCellDef="let data_det">
                <a mat-icon-button style="margin-right:5px;" (click)="openDialog(data_det)">
                  <mat-icon color="success">reorder icon</mat-icon>
                </a>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
  
        </div>
  
      </form>
  
    </div>
  
  
  </div>
  
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">
    <p style="color: white; text-align: center; ">Cargando... </p>
  </ngx-spinner>