<!-- <div class="gallery">
    <div class="photo" *ngFor="let foto of fotosVisibles; let i = index" [class.show]="animando">
        <img [src]="foto" alt="Foto demo" />
    </div>
</div>

<button class="boton-flotante fullscreen" (click)="alternarPantallaCompleta()" matTooltip="Pantalla completa">
    <mat-icon>fullscreen</mat-icon>
</button> -->

<!-- <div class="carousel">
  <div 
    class="slide" 
    *ngFor="let foto of fotos; let i = index" 
    [class.active]="i === currentIndex">
    <img [src]="foto" alt="Foto demo" />
  </div>
</div>


<button class="boton-flotante fullscreen" (click)="alternarPantallaCompleta()" matTooltip="Pantalla completa">
    <mat-icon>fullscreen</mat-icon>
</button> -->


<div class="carousel">
  <div class="slide" *ngFor="let foto of fotosVisibles">
    <img [src]="foto" alt="Foto demo" />
  </div>
</div>

<button class="boton-flotante fullscreen" (click)="alternarPantallaCompleta()" matTooltip="Pantalla completa">
    <mat-icon>fullscreen</mat-icon>
</button>
