<div class="row">
    <div class="caja">
        <p>OP</p>
        <p class="strong">{{data.Cod_OrdPro}}</p>
    </div>
    <div class="caja">
        <p>CLIENTE</p>
        <p class="strong">{{data.Cod_Cliente}}</p>
    </div>
    <div class="caja">
        <p>Estilo</p>
        <p class="strong">{{data.Cod_EstCli}}</p>
    </div>
    <div class="caja">
        <p>Temporada</p>
        <p class="strong">{{Temp}}</p>
    </div>
    <div class="caja">
        <p>Color</p>
        <p class="strong">{{data.Color}}</p>
    </div>
    <div class="caja">
        <p>Fecha Registro</p>
        <p class="strong">{{data.Fecha_Registro}}</p>
    </div>
    <div class="caja">
        <p>Cantidad</p>
        <p class="strong">{{data.Cantidad}}</p>
    </div>
    <div class="caja">
        <p>Lote</p>
        <p class="strong">{{data.Lote}}</p>
    </div>
    <div class="caja">
        <p>Tamaño Muestra</p>
        <p class="strong">{{data.Tamano_Muestra}}</p>
    </div>
    <div class="caja">
        <p>Tamaño Muestra  %</p>
        <p class="strong">{{data.Tamano_Muestra_Porc}}</p>
    </div>
    <div class="caja">
        <p>Número de Defectos</p>
        <p class="strong">{{data.Numero_Defectos}}</p>
    </div>
    <div class="caja">
        <p>N° de Defectos %</p>
        <p class="strong">{{data.Num_Defectos}} %</p>
    </div>
    <div class="caja">
        <p>Tipo Prenda</p>
        <p class="strong">{{data.Tipo_Prenda}}</p>
    </div>
    <div class="caja">
        <p>Status</p>
        <p class="strong">{{data.Flg_Aprobado == 'A' ? 'APROBADO' : data.Flg_Aprobado == 'R' ? 'RECHAZADO' : data.Flg_Aprobado == 'P' ? 'REPROCESO' : ''}}</p>
    </div>
    <div class="caja">
        <p>Auditor</p>
        <p class="strong">{{data.Cod_Usuario}}</p>
    </div>
    <div class="caja">
        <p>LINEA</p>
        <p class="strong">{{data.Linea}}</p>
    </div>
    <div class="caja">
        <p>Ruta de Prenda</p>
        <p class="strong">{{data.Ruta_Prenda}}</p>
    </div>

    <div class="caja">
        <p>Ficha Técnica</p>
        <p class="strong">{{data.Flg_FichaTecnica == 'S' ? 'SI' : 'NO'}}</p>
    </div>

    <div class="caja">
        <p>Reportes de Calidad</p>
        <p class="strong">{{data.Flg_ReporteCalidad == 'S' ? 'SI' : 'NO'}}</p>
    </div>
    <div class="caja">
        <p>Estampado</p>
        <p class="strong">{{data.Flg_Estampado == 'S' ? 'SI' : 'NO'}}</p>
    </div>
    <div class="caja">
        <p>Bordado</p>
        <p class="strong">{{data.Flg_Bordado == 'S' ? 'SI' : 'NO'}}</p>
    </div>
    <div class="caja">
        <button color="warn" mat-flat-button mat-dialog-close><mat-icon>close</mat-icon> Cerrar</button>
    </div>
</div>
<div class="row">
    <mat-card>
        <mat-card-content>
            <div class="body-tabla">
                <table>
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Defecto</th>
                      <th>Cantidad</th>
                      <th>D. Leve</th>
                      <th>D. Crítico</th>
                      <th>% Defecto</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of dataDefectos">
                      <td>{{item.Cod_Defecto}}</td>
                      <td>{{item.Defecto}}</td>
                      <td>{{item.Cantidad}}</td>
                      <td><span
                        *ngIf="item.Leve == '1'"><mat-icon style="color: green; font-weight: bold; font-size: 30px;">check</mat-icon></span></td>
                      <td><span
                        *ngIf="item.Critico == '1'"><mat-icon style="color: green; font-weight: bold; font-size: 30px;">check</mat-icon></span></td>
                      <td>{{((item.Cantidad / data.Tamano_Muestra) * 100) | number : '1.2-2' }} %</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="row">
    <mat-card>
        <mat-card-content>
            <div class="body-tabla">
                <table>
                  <thead>
                    <tr>
                      <th>Indicaciones / Recomendaciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of dataIndicaciones">
                      <td>{{item.Indicaciones}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </mat-card-content>
    </mat-card>
</div>