<mat-card>
    <mat-card-header style="display: flex; justify-content: space-around;">
        <strong>Seleccionar OP</strong>
        <span aria-label="Close" class="cerrar" mat-dialog-close aria-hidden="true">&times;</span>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="columna">
                
            </div>
            <div class="columna">
                
            </div>
        </div>
        <div class="row">
            <button mat-flat-button color="primary"><mat-icon>save</mat-icon> GUARDAR</button>
        </div>
    </mat-card-content>
</mat-card>