<div class="container">
    <!-- ventana nro 4 - historial -->
    <div class="grid-container">

        <div class="title">Reporte de Auditoría de Ticket</div>

        <form class="container-cuerpo" [formGroup]="formulario">
            <div class="container-cuerpo-fila1">
                <mat-form-field class="fila1-fecha" appearance="fill">
                    <mat-label>Rango de Fecha</mat-label>
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Fecha Inicio">
                        <input matEndDate formControlName="end" placeholder="Fecha Final">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    <mat-icon (click)="clearDate($event)" style=" position: absolute;
                      float: right;
                      top: -6px;
                      margin-left: 190px;
                      cursor: pointer;
                      color: rgba(0, 0, 0, 0.54);">clear</mat-icon>
                    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Fecha Invalida</mat-error>
                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Fecha Invalida</mat-error>
                </mat-form-field>
                
                <mat-form-field class="fila1-Codigo">
                    <mat-label>Tipo Auditoria</mat-label>
                    <mat-select formControlName="Modulo" (selectionChange)="selectTipo($event.value)">
                        <mat-option value="M"> Auditoría de Módulo </mat-option>
                        <mat-option value="S"> Auditoría de Tránsito </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="fila1-Auditoria">
                    <mat-label>Auditoria</mat-label>
                    <mat-select formControlName="Auditoria">
                        <mat-option value=" ">--Todos--</mat-option>
                        <mat-option *ngFor="let option of lstAuditores" [value]="option.Cod_Usuario">
                            {{option.Nom_Usuario}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button type="button" class="fila1-buscar" mat-flat-button (click)="buscarReporteControlVehiculos()">
                    <mat-icon aria-label="person">search</mat-icon>Buscar
                </button>

                <button type="button" class="fila1-excel" mat-flat-button (click)="generateExcel()">
                    <mat-icon aria-label="create_new_folder">create_new_folder
                    </mat-icon> Reporte Excel
                </button>


            </div>

            <!-- hora	tipo	num_guia	cod_proveedor	des_proveedor	cod_usuario -->
            <div class="container-cuerpo-fila2" *ngIf="formulario.get('Modulo').value == 'M'">


                <table mat-table class="mat-elevation-z8" #table [dataSource]="dataSource">
                    <!-- <ng-container matColumnDef="COD_TIPORDTRA">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">TIPO</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.COD_TIPORDTRA}} </td>
                      </ng-container> -->
                    <ng-container matColumnDef="Fecha_Registro" >
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">F. Registro</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Fecha_Registro}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Codigo_Inspector" >
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Codigo Inspector</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Codigo_Inspector}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Inspector">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Inspector</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Inspector}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Cod_OrdPro">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">OP</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Cod_OrdPro}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Cliente">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Cliente</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Cliente}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cod_estcli">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Estilo Cliente</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.cod_estcli}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Des_Present">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Color</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Des_Present}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Ticket">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Ticket</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Ticket }} </td>
                    </ng-container>
                    <ng-container matColumnDef="Num_Paquete">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">N° Paquete</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Num_Paquete }} </td>
                    </ng-container>
                    <ng-container matColumnDef="Cantidad">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Cantidad</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Cantidad }} </td>
                    </ng-container>

                    <ng-container matColumnDef="Tamano_Muestra">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Tamaño Muestra</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Tamano_Muestra}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Codigo_Defecto">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Código Defecto</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Codigo_Defecto}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Descripcion_Defecto">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Descripción Defecto</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Descripcion_Defecto }} </td>
                    </ng-container>

                    <ng-container matColumnDef="Cantidad_Defecto">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Cantidad Defecto</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Cantidad_Defecto}} </td>
                      </ng-container>
                      <ng-container matColumnDef="Estado">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Estado</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Estado}} </td>
                      </ng-container>
                      <ng-container matColumnDef="Codigo_Auditor">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Código Auditor</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Codigo_Auditor }} </td>
                      </ng-container>

                      <ng-container matColumnDef="Auditor">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Auditor</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Auditor}} </td>
                      </ng-container>
                      
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Seleccione pagina">
                </mat-paginator>
            </div>

            <div class="container-cuerpo-fila2" *ngIf="formulario.get('Modulo').value == 'S'">
                <table mat-table class="mat-elevation-z8" #table [dataSource]="dataSource">
                    <!-- <ng-container matColumnDef="COD_TIPORDTRA">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">TIPO</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.COD_TIPORDTRA}} </td>
                      </ng-container> -->
                    <ng-container matColumnDef="Fecha_Registro">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">F. Registro</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Fecha_Registro}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Auditor_Modulo" >
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Cod. Auditor Módulo</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Auditor_Modulo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Inspector">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Auditor Módulo</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Inspector}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Cod_OrdPro">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">OP</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Cod_OrdPro}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Cliente">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Cliente</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Cliente}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cod_estcli">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Estilo Cliente</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.cod_estcli}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Des_Present">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Color</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Des_Present}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Ticket">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Ticket</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Ticket }} </td>
                    </ng-container>
                    <ng-container matColumnDef="Num_Paquete">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">N° Paquete</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Num_Paquete }} </td>
                    </ng-container>
                    <ng-container matColumnDef="Cantidad">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Cantidad</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Cantidad }} </td>
                    </ng-container>

                    <ng-container matColumnDef="Tamano_Muestra">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Tamaño Muestra</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Tamano_Muestra}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Codigo_Defecto">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Código Defecto</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Codigo_Defecto}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Descripcion_Defecto">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Descripción Defecto</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Descripcion_Defecto }} </td>
                    </ng-container>

                    <ng-container matColumnDef="Cantidad_Defecto">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Cantidad Defecto</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Cantidad_Defecto}} </td>
                      </ng-container>
                      <ng-container matColumnDef="Estado">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Estado</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Estado}} </td>
                      </ng-container>
                      <ng-container matColumnDef="Codigo_Auditor">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Código Auditor</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Codigo_Auditor }} </td>
                      </ng-container>

                      <ng-container matColumnDef="Auditor">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Auditor</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Auditor}} </td>
                      </ng-container>
                      
                    <tr mat-header-row *matHeaderRowDef="displayedColumns2;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Seleccione pagina">
                </mat-paginator>
            </div>

        </form>

    </div>


</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">
    <p style="color: white; text-align: center; ">Cargando... </p>
</ngx-spinner>