input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

mat-card {
    margin-top: 10px;
    padding: 0px;
}

mat-card-header {
    padding: 10px;
    border-bottom: 0.8px solid rgba(0, 0, 0, .2);
    border-left: 0.8px solid rgba(0, 0, 0, .2);
    border-right: 0.8px solid rgba(0, 0, 0, .2);
    border-top: 0.8px solid rgba(0, 0, 0, .2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}

mat-card-content {
    
    padding: 10px 15px;
    border-bottom: 0.8px solid rgba(0, 0, 0, .2);
    border-left: 0.8px solid rgba(0, 0, 0, .2);
    border-right: 0.8px solid rgba(0, 0, 0, .2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table-container {
    position: relative;
    min-height: 250px;
    max-height: 350px;
    min-width: 1000px;
    max-width: 1100px;
    overflow: auto;
}

.table-container-2 {
    position: relative;
    min-height: 100px;
    max-height: 200px;
    min-width: 500px;
    max-width: 600px;
    overflow: auto;
}

.list-container {
    min-height: 150px;
    max-height: 250px;
    overflow: auto;
}

table {
    width: 100%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-md-8{
    width: 70%;
}

.col-md-4{
    width: 30%;
}

.container-dialog {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: corbel, arial;
    font-size: 15px;
    margin: 0;
}

.grid-container-dialog {
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%; 
    height: auto; //93%;
    min-height: 600px;
    margin: 0; 
    padding: 0px 0px 0px 0px;
}
  
.title-dialog {
    background-color: #3f51b5;
    color: #fff;
    padding: 8px 10px 10px 10px;
    text-align: center;
    //border-bottom: 1px solid #337AB7;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #337ab7;
    font-weight: bold;
}
.numhoja{
    //font-size: 1.2em;
    //float: right;
    font-family: arial;
}

.container-cuerpo-dialog {
    width: 100%;
    margin: 0;
    height: 98%;
    padding: 10px 10px;
    justify-content: center;
}

.container-cuerpo-dialog {
    display: grid;

    grid-template:
        "caja" 500px
        "foot" 55px / 
        99%;
}

.container-cuerpo-fila1, .container-cuerpo-fila2, .container-cuerpo-fila3{
    grid-area: caja;
    padding: 5px 10px;
}

.container-cuerpo-fila1-content {
    display: grid;
    grid-template:
        "col1 col2 col3 col4" 60px 
        "col5 col6 col7 col8" 60px 
        "col9 col10 col11 col11" 60px 
        "col12 col13 col14 col14" auto/ 
        1fr 1fr 1fr 1fr
}

.fila1-oc {
    grid-area: col1;
} 
.fila1-partida {
    grid-area: col2;
}
.fila1-op {
    grid-area: col3;
}
.fila1-cliente {
    grid-area: col4;
}
.fila1-estilo {
    grid-area: col5;
}
.fila1-temporada {
    grid-area: col6;
}
.fila1-color {
    grid-area: col7;
}
.fila1-tipo-prenda {
    grid-area: col8;
}
.fila1-encogim-ancho{
    grid-area: col9;
}
.fila1-encogim-largo{
    grid-area: col10;
}
.fila1-tipo-tela {
    grid-area: col11;
}
.fila1-fecha {
    grid-area: col12;
}
.fila1-turno {
    grid-area: col13;
}
.fila1-auditor {
    grid-area: col14;
}


.mat-radio-button {
    margin-right: 4px;
}

ul.list-items-tizado{
    list-style: none;
}

.container-cuerpo-fila2-content {
    display: grid;
    grid-template:
        "col1 col2" auto/ 
        1fr 1fr
}

.fila2-tizado {
    grid-area: col1;
    padding-right: 5px;
} 
.fila2-tendido {
    grid-area: col2;
    padding-left: 5px;
}

.list-items-tizado {
    height: 270px;
    display: grid;
    grid-template:
        "col1 col2" 40px
        "col3 col4" 40px 
        "col5 col6" 40px 
        "col7 col8" 40px 
        "col9 col10" 40px 
        "col11 col11" auto/ 
        1fr 1fr
}

.field1{
    grid-area: col1;
}
.field2{
    grid-area: col2;
}
.field3{
    grid-area: col3;
}
.field4{
    grid-area: col4;
}
.field5{
    grid-area: col5;
}
.field6{
    grid-area: col6;
}
.field7{
    grid-area: col7;
}
.field8{
    grid-area: col8;
}
.field9{
    grid-area: col9;
}
.field10{
    grid-area: col10;
}
.field11{
    grid-area: col11;
}

.list-items-tizado-linea-two{
    background: #ccc;
}

.fila2-tendido-content{
    display: grid;
    grid-template:
        "col1 col1" 40px
        "col2 col3" 70px 
        "col4 col5" 60px 
        "col6 col6" 80px 
        "col7 col7" auto/ 
        1fr 1fr
}

.fila2-tendido-tela{
    grid-area: col1;
}
.fila2-tendido-tela-inicio{
    grid-area: col2;
}
.fila2-tendido-tela-final{
    grid-area: col3;
}
.fila2-tendido-mesa{
    grid-area: col4;
}
.fila2-tendido-tipo{
    grid-area: col5;
}
.fila2-tendido-observacion{
    grid-area: col6;
}
.fila2-tendido-frm{
    grid-area: col7;
}

.fila2-tendido-frm-content{
    display: grid;
    grid-template:
        "col1 col1" 20px
        "col2 col3" 60px
        "col4 col5" auto/ 
        1fr 1fr
}
.fila2-tendido-frm-content-titulo{
    grid-area: col1;
}
.fila2-tendido-frm-content-largo{
    grid-area: col2;
}
.fila2-tendido-frm-content-alto{
    grid-area: col3;
}
.fila2-tendido-frm-content-cantidad{
    grid-area: col4;
}
.fila2-tendido-frm-content-btnadd{
    grid-area: col5;
}

button.fila2-tendido-frm-content-btnadd{
//    float: right;
    background-color: green;
    color: #fff;
}

.mat-form-field-appearance-fill, .mat-form-field-flex{

    background-color: white  !important;
    background: white !important;
}

.example-radio-group {
    display: flex;
    flex-direction: row;
}

.mat-list-base .mat-list-item {
    font-size: 12px;
    height: 80px;
}

.example-radio-button {
    margin: 5px;
}
.example-radio-button-interno{
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
}

//fila foot
.container-cuerpo-foot-dialog {
    grid-area: foot;
    
}

.container-cuerpo-foot-dialog {
    border-top: 1px solid #337ab7;
    justify-content: center;
    display: grid;

    grid-template:
        "fcol1 fcol2 fcol3" auto /
        150px  150px 150px auto;
}

.container-cuerpo-foot-dialog .button-clean-dialog, .button-save-dialog, .button-cancel-dialog {
    height: 10%;
    margin: 0 auto;
    margin: 15px 10px 10px 10px;
    min-height: 42px;
    max-width: 300px;
    min-width: 120px;
}
.button-clean-dialog {
    grid-area: fcol1;
    background-color: green;
    color: #ffffff;
}
.button-save-dialog {
    grid-area: fcol2;
    background-color: darkblue;
    color: #ffffff;
}

.button-cancel-dialog {
    grid-area: fcol3;
    background-color: #8f2121;
    color: #ffffff;
}

.button-add-defecto{
    background-color: #8f2121;
    color: #ffffff;
    height: 10%;
    margin: 0 auto;
    margin: 4px 20px 10px 20px;
    min-height: 42px;
    max-width: 300px;
    min-width: 120px;
}

mat-form-field {
    width: 100%;
    padding: 0px 0px 0px 20px;

}

:host ::ng-deep .fila1-cliente-dialog{
    padding: none!important;
   
}

::ng-deep mat-dialog-container{
    padding: 5px;
    height: auto;
}

::ng-deep .my-class .mat-dialog-container{
    padding: 5px;
    height: auto;
}

.input{
    border: none;
    border: 1px solid rgba(0,0,0,.4);
    padding: 6px;
    width: 100%;
    margin-left: 10px;
}

.mat-icon-button .md-20 { font-size: 20px; }

.mat-input-element:disabled {
    color: black;
}


/*
table{
    width: 100%;
}

table:not([cellpadding]) td, table:not([cellpadding]) th {
    padding: .1rem;
}

thead th {
    //width: 30%;
    text-align: left;
}

table tbody tr:nth-child(odd) {
	background: #fdf8ef;
}

table.ops td {
    padding: 5px 0px;
    height: 40px;
}
*/

.container-cuerpo-caja{
    grid-area: caja;
    width: 100%;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    //align-items: flex-end;
}

.container-caja1{
    width: 500px;
    margin: 10px 10px 10px 10px;
}

.container-caja2{
    width: 400px;
    //padding: 5px;
    margin: 10px 10px 10px 10px;
    //background-color:lemonchiffon;
}

/*
@media screen and (max-width: 1728px){
    .container-cuerpo-fila1-content {
        display: grid;
        grid-template:
            "col1 col2 col3" 60px 
            "col4 col5 col6" 60px 
            "col7 col8 col10" 60px 
            "col9 col11 col11" 70px 
            "col14 col12 col13" auto/
            1fr 1fr 1fr
    }

    

}

@media screen and (max-width: 1024px){
    .container-cuerpo-fila2-content {
        display: grid;
        grid-template:
            "col1 col2" auto/ 
            1fr 1fr;
    }

    .list-items-tizado {
        display: grid;
        grid-template:
            "col1 col2" 60px
            "col3 col4" 60px 
            "col5 col6" 40px 
            "col7 col8" 40px 
            "col9 col10" 40px 
            "col11 col11" auto/ 
            1fr 1fr
    }

    .fila2-tendido-frm-content {
        display: grid;
        grid-template:
            "col1 col1" 60px
            "col2 col3" 60px
            "col4 col6" 60px
            "col7 col5" auto/
            1fr 1fr;
    }
    .example-radio-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
        
}

@media screen and (max-width: 635px){

    .container-cuerpo-fila1-content {
        display: grid;
        grid-template:
            "col1" 60px 
            "col2" 60px 
            "col3" 60px 
            "col4" 60px 
            "col5" 60px 
            "col6" 60px 
            "col7" 60px 
            "col8" 60px 
            "col9" 60px 
            "col10" 60px 
            "col11" 60px 
            "col12" 60px
            "col13" auto/ 
            1fr
    }

    .container-cuerpo-fila2-content {
        display: grid;
        grid-template:
            "col1" auto
            "col2" auto/ 
            1fr
    }

    .list-items-tizado {
        display: grid;
        grid-template:
            "col1" 40px
            "col2" 40px
            "col3" 40px
            "col4" 40px
            "col5" 40px
            "col6" 40px
            "col7" 40px
            "col8" 40px
            "col9" 40px 
            "col10" 40px 
            "col11" auto/ 
            220px
    }

    .fila2-tendido-content{
        display: grid;
        grid-template:
            "col1" 70px
            "col2" 70px
            "col3" 80px
            "col4" 60px
            "col5" 60px
            "col6" 60px 
            "col7" auto/ 
            240px
    }

    .fila2-tendido-frm-content{
        display: grid;
        grid-template:
            "col1" 20px
            "col2" 60px
            "col3" 60px
            "col4" 60px
            "col5" auto/ 
            1fr
    }


    .container-cuerpo-foot-dialog {
        grid-template:
            "fcol1 fcol2 fcol3" auto /
            123px  123px 123px auto;
    }

    .container-cuerpo-foot-dialog .button-clean-dialog, .button-save-dialog, .button-cancel-dialog {
        height: 10%;
        margin: 0 auto;
        margin: 10px 5px;
        min-height: 40px;
        max-width: 280px;
        min-width: 80px;
    }

    .example-radio-group {
        display: flex;
        flex-direction: row;
    }

    .col-md-8{
        width: 50%;
    }
    
    .col-md-4{
        width: 50%;
    }
  
}
*/