<div class="card">
    <div class="card-header">
        {{data.Title}}
    </div>
    <div class="container">
        <form class="container-cuerpo" [formGroup]="formulario" #formDirective="ngForm">
            <div class="row">
                <mat-form-field style="width: 100%;">
                    <mat-label>Descripcion</mat-label>
                    <mat-select formControlName="ctrol_des_item" 
                    (selectionChange)="onProductoSeleccionado($event)" 
                    #select>
                        <mat-option>
                            <input
                            matInput
                            placeholder="Buscar Producto"
                            formControlName="filtroProducto"
                            (ngModelChange)="filtrarProductos()"
                            (click)="$event.stopPropagation()" 
                            (keydown)="$event.stopPropagation()" 
                            autocomplete="off">
                        </mat-option>

                        <mat-option
                        *ngFor = "let producto of ProductosFiltrados"
                        [value] = "producto.cod_Item">
                        {{producto.des_Item}}                            
                        </mat-option>
                    </mat-select>
                    <!-- <input matInput formControlName="ctrol_cod_item"> -->
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field style="width: 100%;">
                    <mat-label>Unidad de Medida</mat-label>
                    <input matInput formControlName="ctrol_uni_med">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field style="width: 100%;">
                    <mat-label>Cantidad</mat-label>
                    <input matInput formControlName="ctrol_cant">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field style="width: 100%;"> 
                    <mat-label>Repuesto de Cambio:</mat-label> 
                        <mat-select matNativeControl formControlName="ctrol_rpt_cambio"> 
                            <mat-option value="0">No</mat-option> 
                            <mat-option value="1">Si</mat-option> 
                        </mat-select> 
                </mat-form-field>                     
            </div>

            <div class="button-row">    
                <button mat-flat-button color="primary" class="form-button"> 
                    <mat-icon>add_a_photo</mat-icon> Tomar Foto
                </button>
            </div>  

            <div class="button-row">    
                <button mat-flat-button color="primary" class="form-button" (click)="Procesar()"> 
                    <mat-icon>save</mat-icon> Grabar
                </button>

                <button mat-flat-button color="warn" mat-dialog-close class="form-button">
                    <mat-icon>close</mat-icon> Salir
                </button>
            </div>  


        </form>
    </div>
</div>



