.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    //background-color: blue;
    padding: 5px 5px 5px 5px;
    font-family: corbel, arial;
    font-size: 13px;
    margin: 0;
  }
  
  .grid-container {
    border-radius: 4px;
    width: 100%;
    height: auto; //93%;
    //background-color: green;
    border: 1px solid #337ab7;
    margin: 0;
    //padding: 1x ;
    //padding-bottom: 15px;
    //min-width: 350px;
    min-height: 400px;
    height: 1000px;
    //position: absolute;
  }
  
  .title {
    background-color: #3f51b5;
    color: rgb(255, 255, 255);
    padding: 8px 10px 10px 10px;
    text-align: center;
    //border-bottom: 1px solid #337AB7;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #337ab7;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container-cuerpo {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px 0;
    justify-content: center;
  }
  
  .container-cuerpo {
    display: grid;
  
    grid-template:
      "fila1" auto
      "fila2" auto
      "fila3" auto
      "fila4" auto
      "foot" 55px /
      99%;
  }
  
  .container-cuerpo-fila1 {
    grid-area: fila1;
    margin-top: 15px;
  }
  
  .container-cuerpo-fila2 {
    grid-area: fila2;
    overflow: auto;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .container-cuerpo-fila3 {
    grid-area: fila3;
    overflow: auto;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .container-cuerpo-fila4 {
    grid-area: fila4;
    overflow: auto;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .fila4-content {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .container-cuerpo-foot {
    grid-area: foot;
  }
  
  mat-form-field {
    width: 100%;
    padding: 0px 10px;
  }
  
  .d-none {
    display: none;
  }
  
  .button-info {
    margin-top: 10px;
    background: #2b78e4;
    width: 98%;
    color: white;
  }
  
  .mat-header-cell {
    padding: 0.5rem;
  }
  
  .paginador {
    width: auto;
  }
  
  .button-agregar {
    background-color: #3f51b5;
    color: #ffffff;
    margin-right: 1rem;
  }
  
  
  .button-Agregar_Defecto {
    background-color: #0e740e;
    color: #ffffff;
    margin-right: 1rem;
    width: 98%;
  }
  
  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  
  .button-cancelar {
    display: inline-block;
    width: 30%;
    background-color: #d32f2f;
    color: #ffffff;
    //margin-right: 1rem;
  }
  
  
  ::ng-deep .my-class .mat-dialog-container {
    padding: 5px;
    height: auto;
  }
  
  .button-Grabar {
    width: 100%;
    height: 85%;
    display: inline-block;
    background-color: #0e740e;
    color: #ffffff;
    margin-right: 1rem;
  }
  
  .button-Cancelar {
    width: 30%;
    display: inline-block;
    background-color: #d32f2f;
    color: #ffffff;
    margin-right: 1rem;
  }


  .button-Imprimir-Etiqueta {
    width: 85%;
    height: 80%;
    display: inline-block;
    background-color: #0e740e;
    color: #ffffff;
    margin-right: 1rem;
    align-content: center;
  }



  .button-Imprimir-Formato {
    width: 85%;
    height: 80%;
    display: inline-block;
    background-color: #d8e621;
    color: #050505;
    margin-right: 1rem;
    align-content: center;
  }




  .Txt_Peso_Rollo {
    background-color: #6ff06f;
    color: #ffffff;
  }
  
  

  
  //fila 1
  .container-cuerpo-fila1 {
    display: grid;
  
    grid-template:
      "col1 col2 col3 col4 col5" 50px
      "col6 col7 col8 col9 col10" 50px
      "col11 col12 col13 col14 col15" auto/200px 200px 200px 200px 200px;
  }
  
  .fila1-Txt_CodRollo {
    grid-area: col1;
  }
  .fila1-Txt_Ot {
    grid-area: col2;
  }
  
  .fila1-Txt_Pref_Maquina {
    grid-area: col3;
  }
  
  .fila1-Txt_Cliente {
    grid-area: col4;
  }
  
  
  .fila1-Txt_Codigo_Rollo {
    grid-area: col5;
  }
  
  .fila1-Txt_Maquina {
    grid-area: col6;
  }
  
  .fila1-Txt_Cod_Turno {
    grid-area: col7;
  }
  
  .fila1-Txt_Inspector {
    grid-area: col8;
  }
  
  .fila1-Txt_Restriccion {
    grid-area: col9;
  }
  
  .fila1-Txt_NomDefecto {
    grid-area: col10;
  }
  
  .fila1-Txt_CodDefecto {
    grid-area: col11;
  }
  
  .fila1-Txt_Ancho {
    grid-area: col12;
  }
  
  .fila1-Txt_Densidad {
    grid-area: col13;
  }
  
  
  .fila1-Txt_Calidad {
    grid-area: col14;
  }
  
  
  
  
  
  //fila 2
  .container-cuerpo-fila2 {
    display: grid;
  
    grid-template:
      "col1 col2 col3 col4 col5" 50px
      "col6 col7 col8 col9 col10" 50px
      "col11 col12 col13 col14 col15" auto/100px 100px 100px 100px 100px;
  }
  
      
   .fila2-Btn_1 {
      grid-area: col1;
    }
  
    .fila2-Btn_2 {
      grid-area: col2;
    }
  
    .fila2-Btn_3 {
      grid-area: col3;
    }
  
    .fila2-Btn_4 {
      grid-area: col4;
    }
  
    .fila2-Btn_5 {
      grid-area: col5;
    }
  
    .fila2-Btn_6 {
      grid-area: col6;
    }
  
  
    .fila2-Btn_7 {
      grid-area: col7;
    }
  
  
    .fila2-Btn_8 {
      grid-area: col8;
    }
  
  
    .fila2-Btn_9 {
      grid-area: col9;
    }
  
  
    .fila2-Btn_10 {
      grid-area: col10;
    }
  
    .fila2-Btn_11 {
      grid-area: col11;
    }
  
    .fila2-Btn_12 {
      grid-area: col12;
    }
  
    .fila2-Btn_13 {
      grid-area: col13;
    }
  
    .fila2-Btn_14 {
      grid-area: col14;
    }
  
    .fila2-Btn_15 {
      grid-area: col15;
    }
  
  
  
  
  
  //fila 3
  .container-cuerpo-fila3 {
      display: grid;
  
     grid-template:
      "col1 col2 col3" 50px
      "col4 col4 col4" auto/200px 200px 200px;
  }
  
  
  .fila3-Txt_CantDef {
    grid-area: col1;
  }
  
  .fila3-Txt_FacConv {
    grid-area: col2;
  }
  
  
  .fila3-AgregarDefecto {
    grid-area: col3;
  }
  
  
  .fila3-Txt_Observaciones {
    grid-area: col4;
  }
  
  
  
  .mat-column-Num_Rollo,
  .mat-column-Prefijo_Maquina,
  .mat-column-Codigo_Rollo,
  .mat-column-Cod_Ordtra,
  .mat-column-Cod_Calidad,
  .mat-column-Peso_rollo_actual,
  .mat-column-Observaciones,
  
  
  .mat-column-Num_Rollo {width: 5px !important;text-align: center; font-size: small;}
  .mat-column-Prefijo_Maquina {width: 10px !important;text-align: center; font-size: small;}
  .mat-column-Codigo_Rollo {width: 5px !important;text-align: center; font-size: small;}
  .mat-column-Cod_Ordtra {min-width: 5px !important;text-align: center; }
  .mat-column-Cod_Calidad {width: 2px !important;text-align: center; }
  .mat-column-Peso_rollo_actual {width: 5px !important;text-align: center; }
  .mat-column-Observaciones {width: 6px !important;text-align: center;}
  
  
  
  .fila1-excel {
    width: 100%;
    grid-area: col4;
    height: 40px;
    max-width: 280px;
    margin: auto;
    margin-top: 3px;
    background-color: #18bd20c9;
    color: #ffffff;
  }
  
  //fila foot
  .container-cuerpo-foot {
    border-top: 1px solid #337ab7;
    justify-content: center;
    display: flex;
  
    grid-template:
      "fcol1 fcol2" auto /
      200px auto;
  }
  
  .container-cuerpo-foot .button-agregar,
  // .button-cancelar {
  //     height: 10%;
  //     margin: 0 auto;
  //     margin: 15px 10px 10px 10px;
  //     min-height: 42px;
  //     max-width: 300px;
  //     min-width: 120px;
  // }
  
  
  
  .button-agregar {
    grid-area: fcol1;
    background-color: #3f51b5;
    color: #ffffff;
  }
  
  .mat-elevation-z8 {
    width: 100%;
    font-family: arial;
    font-size: 10px;
  }
  .paginador {
    width: auto;
  }
  
  tr:hover {
    border-color: currentColor;
    background: #e1e1e1;
  }
  
  tr:active {
    background: #efefef;
  }
  
  @media screen and (max-width: 1500px) {
    .grid-container {
      height: 860px;
    }
    .container-cuerpo {
      display: grid;
  
      grid-template:
        "fila1" 120px
        "fila2" 368px
        "fila3" 220px
        "fila4" auto
        "foot" 55px /
        99%;
  
      .fila3 {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
  
        .fill {
          width: 48%;
          margin-right: 1rem;
        }
      }
    }
  
    .fila3-content {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  
    .container-cuerpo-fila1 {
      display: grid;
      grid-template:
        "col1 col2" 45px
        "col3 col4" 45px
        "col5 col5" 45px
        "col7 col7" auto/
        200px 200px;
    }
  
    .fila1-Ot {
      grid-area: col1;
    }
    .fila1-Inspector {
      grid-area: col2;
    }
  
    .fila1-Oc {
      grid-area: col3;
    }
  
    .fila1-Maquina {
      grid-area: col4;
    }
  
    .fila1-Combinacion {
      grid-area: col5;
    }
  
    .fila1-Talla {
      grid-area: col6;
    }
  
    .fila1-Tela {
      grid-area: col7;
    }
  
    .container-cuerpo-fila2 {
      display: grid;
      grid-template:
        "col1  col1" 45px
        "col2  col3" 45px
        "col4  col5 " 45px
        "col6  col7" 45px
        "col8  col9" 45px
        "col10 colo11" auto/
        200px 200px;
    }
  
    .fila2-Hilo_Titulo {
      grid-area: col1;
    }
  
    .fila2-Hilo_Compo {
      grid-area: col2;
    }
  
    .fila2-Hilo_Lote {
      grid-area: col3;
    }
  
    .fila2-Hilo_Proveedor {
      grid-area: col4;
    }
  
    .container-cuerpo-fila2 {
      margin-top: 110px;
    }
  
    .container-cuerpo-fila3 {
      display: grid;
      grid-template:
        "col1  col2" 45px
        "col3  col4" 45px
        "col5  col6 " 45px
        "col7 col8" 45px
        "col9 col10" 45px
        "col11 col12" 45px
        "col13 col14" 45px
        "col15  col15" auto/
        200px 200px;
    }
  
    .fila3-Densidad {
      grid-area: col1;
    }
  
    .fila3-Densidad_real {
      grid-area: col2;
    }
  
    .fila3-Ancho {
      grid-area: col3;
    }
  
    .fila3-Ancho_real {
      grid-area: col4;
    }
  
    .fila3-Acabado {
      grid-area: col5;
    }
  
    .fila3-Acabado_real {
      grid-area: col6;
    }
  
    .fila3-Largo {
      grid-area: col7;
    }
  
    .fila3-Largo-Real {
      grid-area: col8;
    }
  
    .fila3-Alto {
      grid-area: col9;
    }
  
    .fila3-Alto-Real {
      grid-area: col10;
    }
  
    .fila3-Peso-Unidad {
      grid-area: col11;
    }
  
    .fila3-Peso-Unidad_Real {
      grid-area: col12;
    }
  
    .fila3-Pasadas {
      grid-area: col13;
    }
  
    .fila3-Pasadas-Real {
      grid-area: col14;
    }
  
    .fila3-Observaciones {
      grid-area: col15;
      background-color: #dbf8e5;
    }
  
    //   .container-cuerpo-fila2{
    //     margin-top: 110px;
    //   }
  
    //   .container-cuerpo-fila3{
    //     margin-top: 110px;
    //   }
  
    th.mat-cell {
      width: 120px;
      min-width: 120px;
    }
    td.mat-cell {
      width: 120px;
      min-width: 120px;
    }
  
    .maticon-date {
      position: absolute;
      float: right;
      top: -6px;
      margin-left: 270px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.54);
    }
  }
  
  @media screen and (max-width: 868px) {
    .grid-container {
      height: 888px;
    }
    .container-cuerpo {
      display: grid;
  
      grid-template:
        "fila1" 120px
        "fila2" 368px
        "fila3" 220px
        "fila4" auto
        "foot" 55px /
        99%;
  
      .fila3 {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
  
        .fill {
          width: 48%;
          margin-right: 1rem;
        }
      }
    }
  
    .fila3-content {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  
    .container-cuerpo-fila1 {
      display: grid;
      grid-template:
        "col1 col2" 45px
        "col3 col4" 45px
        "col5 col5" 45px
        "col7 col7" auto/
        200px 200px;
    }
  
    .fila1-Ot {
      grid-area: col1;
    }
    .fila1-Inspector {
      grid-area: col2;
    }
  
    .fila1-Oc {
      grid-area: col3;
    }
  
    .fila1-Maquina {
      grid-area: col4;
    }
  
    .fila1-Combinacion {
      grid-area: col5;
    }
  
    .fila1-Talla {
      grid-area: col6;
    }
  
    .fila1-Tela {
      grid-area: col7;
    }
  
    .container-cuerpo-fila2 {
      display: grid;
      grid-template:
        "col1  col1" 45px
        "col2  col3" 45px
        "col4  col5 " 45px
        "col6  col7" 45px
        "col8  col9" 45px
        "col10 colo11" auto/
        200px 200px;
    }
  
    .fila2-Hilo_Titulo {
      grid-area: col1;
    }
  
    .fila2-Hilo_Compo {
      grid-area: col2;
    }
  
    .fila2-Hilo_Lote {
      grid-area: col3;
    }
  
    .fila2-Hilo_Proveedor {
      grid-area: col4;
    }
  
    .container-cuerpo-fila2 {
      margin-top: 110px;
    }
  
    .container-cuerpo-fila3 {
      display: grid;
      grid-template:
        "col1  col2" 45px
        "col3  col4" 45px
        "col5  col6 " 45px
        "col7 col8" 45px
        "col9 col10" 45px
        "col11 col12" 45px
        "col13 col14" 45px
        "col15  col15" auto/
        200px 200px;
    }
  
    .fila3-Densidad {
      grid-area: col1;
    }
  
    .fila3-Densidad_real {
      grid-area: col2;
    }
  
    .fila3-Ancho {
      grid-area: col3;
    }
  
    .fila3-Ancho_real {
      grid-area: col4;
    }
  
    .fila3-Acabado {
      grid-area: col5;
    }
  
    .fila3-Acabado_real {
      grid-area: col6;
    }
  
    .fila3-Largo {
      grid-area: col7;
    }
  
    .fila3-Largo-Real {
      grid-area: col8;
    }
  
    .fila3-Alto {
      grid-area: col9;
    }
  
    .fila3-Alto-Real {
      grid-area: col10;
    }
  
    .fila3-Peso-Unidad {
      grid-area: col11;
    }
  
    .fila3-Peso-Unidad_Real {
      grid-area: col12;
    }
  
    .fila3-Pasadas {
      grid-area: col13;
    }
  
    .fila3-Pasadas-Real {
      grid-area: col14;
    }
  
    .fila3-Observaciones {
      grid-area: col15;
      background-color: #dbf8e5;
    }
  
    //   .container-cuerpo-fila2{
    //     margin-top: 110px;
    //   }
  
    //   .container-cuerpo-fila3{
    //     margin-top: 110px;
    //   }
  
    th.mat-cell {
      width: 120px;
      min-width: 120px;
    }
    td.mat-cell {
      width: 120px;
      min-width: 120px;
    }
  
    .maticon-date {
      position: absolute;
      float: right;
      top: -6px;
      margin-left: 270px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.54);
    }
  }
   
  
  
  
  
  
  
  @media screen and (max-width: 600px) {


    .mat-column-Num_Rollo,
    .mat-column-Prefijo_Maquina,
    .mat-column-Codigo_Rollo,
    .mat-column-Cod_Ordtra,
    .mat-column-Cod_Calidad,
    .mat-column-Peso_rollo_actual,
    .mat-column-Observaciones
    {
        text-align: center;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
       
    }
    


    .grid-container {
      height: 760px;
    }

     
    // .mat-column-Num_Rollo  {   width: 5px ;text-align: center; font-size: small; }
    // .mat-column-Prefijo_Maquina {width: 10px ;text-align: center; font-size: small;}
    // .mat-column-Codigo_Rollo {width: 5px ;text-align: center; font-size: small;}
    // .mat-column-Cod_Ordtra {min-width: 5px ;text-align: center; }
    // .mat-column-Cod_Calidad {width: 2px ;text-align: center; }
    // .mat-column-Peso_rollo_actual {width: 5px ;text-align: center; }
    // .mat-column-Observaciones {width: 6px ;text-align: center;}

   

  
    .container-cuerpo {
      display: grid;
  
      grid-template:
        "fila1" 435px
        // "fila2" 254px
        // "fila3" 154px
        "fila4" 164px
        "foot" 55px /
        99%;
  
      .fila3 {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
  
        .fill {
          width: 48%;
          margin-right: 1rem;
        }
      }
    }
  
    .fila3-content {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  


    .button-Cancelar {
      width: 100%;
      //height: 20%;
      display: inline-block;
      background-color: #d32f2f;
      color: #ffffff;
      margin-right: 1rem;
    }
  
    .container-cuerpo-fila1 {
      display: grid;
      grid-template:
        "col1 col1" 45px
        "col2 col3" 45px
        "col4 col5" 45px
        "col6 col7" 45px
        "col8 col9" 45px
        "col10 col10" 50px
        "col11 col12" 45px
        "col13 col14" 45px
        "col15 col15"  auto/170px 170px;
        
    }
  
    .fila1-Txt_CodRollo {
      color: #f80101;
      font-weight: bold;
      font: size 16px;
      grid-area: col1;
    }
    .fila1-Txt_Ot {
      grid-area: col2;
    }
  
    .fila1-Txt_Pref_Maquina {
      grid-area: col3;
    }
    
    .fila1-Txt_Codigo_Rollo {
      grid-area: col4;
    }
  
      
    .fila1-Txt_Maquina {
      grid-area: col5;
    }
  
    .fila1-Txt_Cod_Turno {
      grid-area: col6;
    }
  
    .fila1-Txt_Peso_Rollo {
      color: #1a01f8;
      font-weight: bold;
      font: size 16px;
      grid-area: col7;
    }
  
    .fila1-Txt_Peso_Rollo_Nuevo {
      grid-area: col8;
      color: #1a01f8;
      font-weight: bold;
      font: size 16px;
    }
  
    .fila1-Txt_Unidades_Metros_Rollo {
      grid-area: col9;
      color: #1a01f8;
      font-weight: bold;
      font: size 16px;
    }

    .button-Grabar {
      grid-area: col10;
  }

  //   .button-Imprimir-Formato {
  //     grid-area: col12;
  // }
  
  
    .fila1-Txt_Ancho {
      grid-area: col11;
    }
  
    .fila1-Txt_Densidad {
      grid-area: col12;
    }
  
  
    .fila1-Txt_Calidad {
      grid-area: col13;
    }
  

    .fila1-Txt_Metros {
        grid-area: col14;
    }
    
    .fila1-Txt_Observaciones {
        grid-area: col15;
    }
    

    .footer {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    
  
  
  }