<!--DefectosAlamacenDerivados-->
  
 
<div class="container"> 
    <!-- ventana nro 4 - historial --> 
    <div class="grid-container"> 
 
        <div class="title">Lista Detalle Auditoria Final - {{this.Num_Auditoria}}</div>

        <form class="container-cuerpo" [formGroup]="formulario">
     
  
            <!-- hora	tipo	num_guia	cod_proveedor	des_proveedor	cod_usuario -->
            <div class="container-cuerpo-fila1">
                <table mat-table #table  [dataSource]="dataSource"   class="mat-elevation-z8" >
                    <ng-container matColumnDef="Foto">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Foto</th>
                        <td mat-cell *matCellDef="let data_det"> 
                            <button                             
                            mat-button (click)="agregarNuevo(data_det, data.Flg_Status )" matTooltip="Agregar o Editar Imagenes"
                            color="primary"><mat-icon>add_photo_alternate</mat-icon></button>
                      </ng-container> 
                    <ng-container matColumnDef="Num_Auditoria_Detalle">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Nº DETALLE</th>
                        <td mat-cell  *matCellDef="let data_det"> {{data_det.Num_Auditoria_Detalle}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Nom_Inspector">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">LINEA</th>
                        <td mat-cell  *matCellDef="let data_det"> {{data.Cod_LinPro}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Cod_OrdPro">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">OP</th>
                        <td mat-cell  *matCellDef="let data_det"> {{data_det.Cod_OrdPro}}  </td>
                    </ng-container>
                    <ng-container matColumnDef="Nom_Cliente">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">CLIENTE</th>
                        <td mat-cell *matCellDef="let data_det">  {{data_det.Des_Cliente}} </td>
                    </ng-container>

                     <ng-container matColumnDef="Cod_EstCli">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">ESTILO</th>
                        <td mat-cell  *matCellDef="let data_det">  {{data_det.Des_EstPro}} </td>
                    </ng-container>
  
                    <ng-container matColumnDef="Cod_Present">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">COLOR</th>
                         <td mat-cell *matCellDef="let data_det"> {{data_det.Des_Present}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="Num_Guia">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">N° GUIA</th>
                         <td mat-cell *matCellDef="let data_det"> {{data_det.Num_Guia}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="Can_Lote">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">LOTE</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Can_Lote}} </td>
                    </ng-container>                     
                        
                    <ng-container matColumnDef="Can_Muestra">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">MUESTRA</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Can_Muestra}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Can_Defecto">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Nº DEFECTO</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Can_Defecto}} </td>
                    </ng-container>  
                     
                    <ng-container matColumnDef="Flg_Status">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">ESTADO</th>
                        <td mat-cell *matCellDef="let data_det" > 
                            <button *ngIf="data_det.Flg_Status == 'A';" type="button"style="background:#3f51b5; width: 125px;" class="button-agregar" mat-flat-button>{{data_det.Descripcion}}</button>   
                            <button *ngIf="mostrar==true && data_det.Flg_Status == 'D';" type="button"style="background:#f44336; width: 125px;" class="button-agregar" (click)="ReprocesoRegistroDetalle(data_det.Num_Auditoria_Detalle, data_det.Cod_Inspector, data_det.Nom_Auditor,data_det.Cod_OrdPro, data_det.Cod_Cliente, data_det.Des_Cliente, data_det.Cod_EstCli, data_det.Des_EstPro, data_det.Cod_Present, data_det.Des_Present,data_det.Can_Lote, data_det.Can_Muestra, data_det.Co_CodOrdPro, data_det.Num_Paquete, data_det.Observacion)" mat-flat-button >{{data_det.Descripcion}}</button>
                            <button *ngIf="mostrar==false && data_det.Flg_Status == 'D';" type="button"style="background:#f44336; width: 125px;" class="button-agregar" mat-flat-button >{{data_det.Descripcion}}</button>
                            <button *ngIf="data_det.Flg_Status == 'R';" type="button"style="background:#f44336; width: 125px;" class="button-agregar" mat-flat-button >{{data_det.Descripcion}}</button>
                            <button *ngIf="data_det.Flg_Status == 'X';" type="button"style="background:#525252; width: 125px;" class="button-agregar" mat-flat-button >{{data_det.Descripcion}}</button>
                        </td>
                    </ng-container> 

                    <ng-container matColumnDef="Firma_1">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Vo AUDITOR</th>
                        <td mat-cell *matCellDef="let data_det"> 
                            <button *ngIf="data_det.Firma_1 == null" mat-button (click)="onFirmaDigital(data_det, 'F1')" matTooltip="Firma del auditor" color="warn"><mat-icon>draw</mat-icon></button>
                            <span *ngIf="data_det.Firma_1 != null"><mat-icon style="color: green; font-weight: bold; font-size: 30px;">check</mat-icon></span>
                    </ng-container> 
                    
                    <ng-container matColumnDef="Firma_2">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Vo SERVICIO</th>
                        <td mat-cell *matCellDef="let data_det"> 
                            <button *ngIf="data_det.Firma_2 == null" mat-button (click)="onFirmaDigital(data_det, 'F2')" matTooltip="Firma del supervisor del servicio" color="primary"><mat-icon>draw</mat-icon></button>
                            <span *ngIf="data_det.Firma_2 != null"><mat-icon style="color: green; font-weight: bold; font-size: 30px;">check</mat-icon></span>
                    </ng-container> 
                  
                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                        <td mat-cell *matCellDef="let data_det">
 
                            <a mat-icon-button style="margin-right:5px;" *ngIf="data.Flg_Status !== 'E' && mostrar==true && data_det.Nom_Auditor.length>0"
                                (click)="openDialogSubDetalle(data_det.Num_Auditoria_Detalle, data_det.Flg_Status)">
                                <mat-icon color="primary">assignment</mat-icon>
                            </a>

                            <a mat-icon-button style="margin-right:5px;" *ngIf="data.Flg_Status !== 'E' && mostrar==true && data_det.Nom_Auditor.length>0" 
                                (click)="ModificarRegistroDetalle(data_det.Num_Auditoria_Detalle, data_det.Cod_Inspector, data_det.Nom_Auditor,data_det.Cod_OrdPro, data_det.Cod_Cliente, data_det.Des_Cliente, data_det.Cod_EstCli, data_det.Des_EstPro, data_det.Cod_Present, data_det.Des_Present,data_det.Can_Lote, data_det.Can_Muestra, data_det.Observacion, data_det.Flg_Status, data_det.Flg_Reproceso_Num)" >
                                <mat-icon color="success">create</mat-icon>
                            </a>

                            <a mat-icon-button *ngIf="data.Flg_Status !== 'E' && mostrar==true"
                                (click)="EliminarRegistroDetalle(data_det.Num_Auditoria_Detalle)">
                                <mat-icon color="warn">delete</mat-icon>
                            </a> 

                            <button mat-icon-button matSuffix  style="margin-right:5px;" *ngIf="data.Flg_Status !== 'E' && mostrar==true"
                                [disabled]="data_det.Flg_Precintos > 0"
                                (click)="DespacharProduccion(data_det.Num_Auditoria_Detalle, data_det.Cod_Inspector, data_det.Nom_Auditor,data_det.Cod_OrdPro, data_det.Cod_Cliente, data_det.Des_Cliente, data_det.Cod_EstCli, data_det.Des_EstPro, data_det.Cod_Present, data_det.Des_Present,data_det.Can_Lote, data_det.Can_Muestra, data_det.Observacion, data.Cod_LinPro)">
                                <mat-icon color="success">open_in_new</mat-icon>
                            </button>
                            
                            <a mat-icon-button color="warn" style="margin-right: 5px"
                                (click)="vistaPreviaAuditoria(data_det)">
                                <mat-icon color="info">receipt</mat-icon>
                            </a>

                            <a mat-icon-button color="success" style="margin-right: 5px"
                                (click)="generaDataInforme(data_det)">
                                <mat-icon color="success">create_new_folder</mat-icon>
                            </a>

                        </td>
                    </ng-container> 

                    <!--<ng-container matColumnDef="eliminar">
                        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                        <td mat-cell *matCellDef="let data_det">
                            <a mat-icon-button *ngIf="data_det.Nro_DocIde.length>0"
                                (click)="EliminarRegistro(data_det.Nro_DocIde,data_det.Cod_Conductor)">
                                <mat-icon color="warn">delete</mat-icon>
                            </a>
                        </td>
                    </ng-container>--> 
 
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns_cab" class="fijar-row"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns_cab;"></tr>

                </table>

                <mat-paginator  class="paginador" #paginator [pageSizeOptions]="[50, 100, 150]" showFirstLastButtons aria-label="Select page of periodic elements">
                </mat-paginator>

            </div>
            <div class="container-cuerpo-foot">
                <button type="button" class="button-procesar" 
                *ngIf="data.Flg_Status !== 'E' && mostrar==true"
                (click)="ProcesarFicha()" mat-button    mat-flat-button>
                    <mat-icon aria-label="person">save</mat-icon>  Finalizar Ficha 
                </button>

                

                <button type="button" class="button-close" style="display: none;" mat-dialog-close > </button>


                <button type="button" class="button-agregar" 
                *ngIf="data.Flg_Status !== 'E' && mostrar==true"
                (click)="openDialogRegistrarDetalle()" mat-flat-button>
                    <mat-icon aria-label="person">add</mat-icon>  Agregar 
                </button>

                <button type="button" class="button-cancelar" mat-button mat-dialog-close   mat-flat-button>
                    <mat-icon aria-label="person">highlight_off
                    </mat-icon>  Cancelar
                </button>        
            </div>

        </form>
    </div>
 
</div>

<!-- FORMATO INFORME PDF -->
<!-- 04oct2024 Ahmed -->

<div id="contentToConvert" *ngIf="verPdf">
    <table class="tabla_cab">
        <tr>
            <th witdh="20%"></th>
            <th witdh="20%"></th>
            <th witdh="20%"></th>
            <th witdh="20%"></th>
            <th witdh="20%"></th>
        </tr>
        <tr>
            <td colspan="2">
                <img src="assets/logo.jpg" alt="" srcset="">
            </td>
            <td></td>
            <td>FECHA:</td>
            <td>{{ dataReporteAuditoria[0].Fecha_Auditoria }}</td>
        </tr>
        <tr></tr>
        <tr>
            <td class="td_inf">CLIENTE</td>
            <td class="td_inf">{{ dataReporteAuditoria[0].Des_Cliente }}</td>
            <td></td>
            <td class="td_inf">ESTILO:</td>
            <td class="td_inf">{{ dataReporteAuditoria[0].Cod_EstCli }}</td>
        </tr>
        <tr></tr>
        <tr>
            <td class="td_inf">OP</td>
            <td class="td_inf">{{ dataReporteAuditoria[0].Cod_OrdPro }}</td>
            <td></td>
            <td class="td_inf">COLOR:</td>
            <td class="td_inf">{{ dataReporteAuditoria[0].Des_Present }}</td>
        </tr>
        <tr></tr>

        <tr>
            <td class="td_inf">N° GUIA</td>
            <td class="td_inf">{{ dataReporteAuditoria[0].Num_Guia }}</td>
            <td></td>
            <td class="td_inf">LINEA:</td>
            <td class="td_inf">{{ dataReporteAuditoria[0].Des_Servicio }}</td>
        </tr>
        <tr></tr>
        <tr>
            <td class="td_inf">PRECINTOS</td>
            <td class="td_inf">{{ dataReporteAuditoria[0].Num_Precintos }}</td>
            <td></td>
            <td class="td_inf">AUDITOR:</td>
            <td class="td_inf">{{ dataReporteAuditoria[0].Nom_Auditor }}</td>
        </tr>
        <tr></tr>


        <tr>
            <td class="td_inf">CANTIDAD</td>
            <td class="td_inf">{{ dataReporteAuditoria[0].Can_Lote }}</td>
            <td></td>
            <td class="td_inf">STATUS:</td>
            <td class="td_inf">{{ dataReporteAuditoria[0].Descripcion }}</td>
        </tr>
    </table>
    <br>
    <table mat-table #table1 [dataSource]="dataSourceInf" class="tabla_cab">
        <ng-container matColumnDef="NRow">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Nº</th>
            <td mat-cell  *matCellDef="let data_det"> {{data_det.NRow}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="Cod_Motivo">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">CODIGO</th>
            <td mat-cell  *matCellDef="let data_det"> {{data_det.Cod_Motivo}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="Des_Defecto">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">DESCRIPCION</th>
            <td mat-cell  *matCellDef="let data_det"> {{data_det.Des_Defecto}} </td>
            <td mat-footer-cell *matFooterCellDef> TOTAL </td>
        </ng-container>
        <ng-container matColumnDef="Can_Defecto">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">CANTIDAD</th>
            <td mat-cell  *matCellDef="let data_det"> {{data_det.Can_Defecto}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ getTotalCantidad() }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns_inf" class="fijar-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns_inf;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns_inf"></tr>
    </table>
    <br>
    <table>
        <tr>
            <th>Observacion</th>
        </tr>
        <tr>
            <td>{{ dataReporteAuditoria[0].Observacion }}</td>
        </tr>
    </table>
    <br><br><br>
    <table class="tabla_cab">
        <tr>
            <th>Supervisor del Servicio</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Auditor de Aseg. Calidad</th>
        </tr>
        <tr>
            <td align="center">
                <!--Supervisor: Firma_2-->
                <!-- <img src="assets/Firma1.jpg" width="200px" alt="" srcset=""> -->
                 <!-- <div id="img1" >
                    <img [src]="dataReporteAuditoria[0].Path_Firma_Web_1" width="200px" alt="" srcset="">
                 </div> -->
                 <!-- <img [src]="dataReporteAuditoria[0].Path_Firma_Web_1" id="img1" width="200px" alt="" srcset=""> -->
                 <img [src]="lc_firma2" width="200px" id="img1" alt="" srcset="">
                
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td align="center">
                <!--Auditor: Firma_1-->
                <!-- <img src="assets/Firma2.jpeg" id="img2" width="200px" alt="" srcset=""> -->
                <img [src]="lc_firma1" width="200px" id="img2" alt="" srcset="">
            </td>
        </tr>
    </table>

</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">  
    <p style="color: white; text-align: center; " >Cargando... </p>  
</ngx-spinner>       