<div class="card">
    <div class="card-header">
        Registro Colgadores Seccion/Caja
    </div>

    <div class="container"> 
        <form class="formulario" [formGroup]="formulario">

            <!--FILA 1-->
            <div class="row">
                <!-- Columna 1: Fec. Creacion -->
                <div class="col-6">
                  <mat-form-field>
                    <mat-label>Fec. Creación</mat-label>
                    <input matInput [matDatepicker]="Fec_Despacho" autocomplete="off" formControlName="Fec_Creacion">
                    <mat-datepicker-toggle matSuffix [for]="Fec_Despacho"></mat-datepicker-toggle>
                    <mat-icon (click)="clearDate($event)" style="position: absolute; float: right; top: 5px; margin-left: -26px; cursor: pointer; color: rgba(0, 0, 0, 0.54);">clear</mat-icon>
                    <mat-datepicker #Fec_Despacho></mat-datepicker>
                  </mat-form-field>
                </div>
              
                <!-- Columna 2: Grupo -->
                <div class="col-6">
                  <mat-form-field>
                    <mat-label>Sección / Caja</mat-label>
                    <input matInput type="text" placeholder="Escanee sección/Caja" (keydown.enter)="applyEnterAdd($event)" value="" #myinputAdd autocomplete="off" formControlName="SeccionGrupo_Consulta">
                  </mat-form-field>
                </div>
            </div>

            <!--FILA 2-->
            <div class="row">
                <div class="col-12 col-sm-6">
                    <button type="button" class="fila1-buscar" mat-flat-button (click)="onListarDisponibles()">                    
                        <mat-icon aria-label="person">search</mat-icon> Buscar
                    </button>
                </div>

                <div class="col-12 col-sm-6">
                
                    <!-- <button type="button" class="fila1-agregar" mat-flat-button>
                        <mat-icon aria-label="person">add</mat-icon>  Crear Grupo
                    </button> -->
                    
                </div>
            </div> 
            
            <br>
            <!--FILA 3-->
            <div class="table-container">
                <table mat-table #table  [dataSource]="dataSource"   class="mat-elevation-z8" >
                    
                    <ng-container matColumnDef="tipUbi">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Tip. Ubica
                        </th>
                        <td class="mat-header-cell" mat-cell *matCellDef="let data_det">
                            {{data_det.codigoBarra}} </td>
                    </ng-container>  

                    <ng-container matColumnDef="totCol">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell"># Colga.
                        </th>
                        <td class="mat-header-cell" mat-cell *matCellDef="let data_det">
                            {{data_det.nTotalColgadores}} </td>
                    </ng-container>            
                    
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Fecha.
                        </th>
                        <td class="mat-header-cell" mat-cell *matCellDef="let data_det">
                            {{data_det.fec_Registro | date:'dd/MM/yyyy' }} </td>
                    </ng-container>     
                    
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef> Estado </th>
                        <td mat-cell *matCellDef="let data_det">

                                <span style="background-color: green; color: white; padding: 2px;" *ngIf="data_det.flg_Estatus == 'S'" >ACTIVO</span> 
                                <span style="background-color: red; color: white; padding: 2px;" *ngIf="data_det.flg_Estatus == 'N'" >INACTIVO</span> 
            
                            </td>                                
                    </ng-container>    
                    
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let data_det">

                            <a mat-icon-button style="margin-right:5px;" (click)="onDetalleTipoUbi(data_det)">
                                <mat-icon color="primary">assignment</mat-icon>
                            </a>
                            <!-- [routerLink]="['/GeneraGrupoConsultaDetalle']" -->
                        </td>
                    </ng-container>   
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>                    

                </table>
            </div>      
            
            <button type="button" class="boton-regresar" mat-flat-button (click)="Regresar()">                    
                <mat-icon aria-label="person">reply_all</mat-icon>
            </button>              

        </form>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">
    <p style="color: white; text-align: center; ">Cargando... </p>
</ngx-spinner>