<div class="container">
    <mat-form-field appearance="fill" class="filtro-fecha">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="filtro.fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="filtro-movimiento">
        <mat-label>Movimiento</mat-label>
        <input matInput [(ngModel)]="filtro.movimiento"
        (keyup.enter)="onEnter()" 
        #movimientoInput>
    </mat-form-field>

    <mat-form-field appearance="fill" class="filtro-almacen">
        <mat-label>Almacén</mat-label>
        <mat-select [(ngModel)]="filtro.almacen">
            <mat-option *ngFor="let a of almacenes" [value]="a.codigo">{{ a.descripcion }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="filtro-tipo">
        <mat-label>Área</mat-label>
        <mat-select [(ngModel)]="filtro.area" (selectionChange)="buscar()">
            <mat-option [value]="null">Todos</mat-option>
            <mat-option value="circular">Circular</mat-option>
            <mat-option value="rectilineo">Rectilíneo</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="filtro.verPendientes" (change)="onTogglePendientes()">Ver solo pendientes</mat-checkbox>
    <button mat-raised-button color="primary" (click)="buscar()">Buscar</button>

    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Fecha -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let m"> {{m.fec_MovStk | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <!-- Movimiento -->
            <ng-container matColumnDef="movimiento">
                <th mat-header-cell *matHeaderCellDef> Movimiento </th>
                <td mat-cell *matCellDef="let m"> {{ m.num_MovStk }} </td>
            </ng-container>

            <!-- Bultos -->
            <ng-container matColumnDef="bultos">
                <th mat-header-cell *matHeaderCellDef> Bultos </th>
                <td mat-cell *matCellDef="let m"> {{ m.can_Bulto }} </td>
            </ng-container>

            <!-- Lecturados -->
            <ng-container matColumnDef="canLecturados">
                <th mat-header-cell *matHeaderCellDef> Lecturados </th>
                <td mat-cell *matCellDef="let m"> {{ m.can_Lecturado }} </td>
            </ng-container>

            <!-- Peso -->
            <ng-container matColumnDef="peso">
                <th mat-header-cell *matHeaderCellDef> Peso </th>
                <td mat-cell *matCellDef="let m"> {{ m.peso_Neto }} </td>
            </ng-container>

            <!-- Lecturado -->
            <ng-container matColumnDef="lecturado">
                <th mat-header-cell *matHeaderCellDef> Completo </th>
                <td mat-cell *matCellDef="let m">
                {{ m.flg_Lecturado }}
                    <!-- <mat-icon color="primary" *ngIf="m.todosLecturados">check_circle</mat-icon>
                    <mat-icon color="warn" *ngIf="!m.todosLecturados">highlight_off</mat-icon> -->
                </td>
            </ng-container>

            <!-- Detalle -->
            <ng-container matColumnDef="detalle">
                <th mat-header-cell *matHeaderCellDef class="col-detalle"> Detalle </th>
                <td mat-cell *matCellDef="let m" class="col-detalle">
                    <button mat-button color="accent" (click)="abrirDetalle(m)">Ver</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>