.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

strong {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.form-actions-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;

  .date-range-field {
    flex: 2 1 5px;
    // margin-top: 1rem;
    // width: 20px;
    // min-width: 120px;
  }

  .button-group {
    display: flex;
    flex: 3 1 100px;
    gap: 0.5rem;
    // margin-top: 1rem;
    flex-wrap: wrap;

    button {
      flex: 1 1 auto;
      width: 100px;
      margin-bottom: 5px;
      color:white;
      background-color: #1568D6;
    }
  }
}

.responsive-table {
  overflow-x: auto;
  width: 100%;

  table {
    min-width: 800px;
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    white-space: nowrap;
    padding: 0.5rem;
    text-align: left;
  }

  .Boton{
    color: #1568D6;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .form-actions-row {
    flex-direction: column;
    align-items: stretch;

    .button-group {
      flex-direction: column;

      button {
        width: 100%;
      }
    }
  }

  strong {
    font-size: 1.2rem;
  }

  .responsive-table table {
    min-width: unset;
  }


  /******************************************/

}

//columna numero de memo
.memo-cell {
  color: blue;
  font-weight: bold;
}

table.mat-table {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 13.5px; /* Tamaño de texto */
  color: #333; /* Color del texto */
}

th.mat-header-cell {
  font-weight: 600; /* Encabezados más destacados */
  text-transform: uppercase; /* Opcional: mayúsculas */
  background-color: #f5f5f5; /* Color del encabezado */
  color: #222; /* Color de texto de cabecera */
}

.btn-rojo{
background: #f44336;
color: #ffff;
font-weight: bold;
}

.btn-blue{
  background: #1568d6;
  color: #ffff;
  font-weight: bold;
}

.loader {
  width: 60px;
  height: 40px;
  position: relative;
  display: inline-block;
  --base-color: #263238; /*use your base color*/
}
.loader::before {
  content: '';  
  left: 0;
  top: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #FFF;
  background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}
.loader::after {
  content: '';  
  left: 35px;
  top: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #FFF;
  background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}  

//Estados de colores.
.estado-reportado {
  background-color: #ffe082; /* amarillo suave */
  color: #5d4037;
  padding: 4px 8px;
  border-radius: 4px;
}

.estado-atencion {
  background-color: #81d4fa; /* azul claro */
  color: #01579b;
  padding: 4px 8px;
  border-radius: 4px;
}

.estado-pendiente {
  background-color: #fff59d; /* amarillo */
  color: #f57f17;
  padding: 4px 8px;
  border-radius: 4px;
}

.estado-cerrado {
  background-color: #c8e6c9; /* verde claro */
  color: #2e7d32;
  padding: 4px 8px;
  border-radius: 4px;
}

.estado-rechazado {
  background-color: #ef9a9a; /* rojo claro */
  color: #b71c1c;
  padding: 4px 8px;
  border-radius: 4px;
}

//Prioridad
.prioridad-alta {
  background-color: #ef9a9a;
  color: #b71c1c;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.prioridad-media {
  background-color: #fff59d;
  color: #f57f17;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.prioridad-baja {
  background-color: #c8e6c9;
  color: #2e7d32;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

//Paro Maquina
.paro-activo {
  background-color: #ef5350; /* rojo alerta */
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.paro-inactivo {
  background-color: #42a5f5; /* azul informativo */
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}